@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(http://bricksinasnap.com/css/fonts/UyYrYy3ltEffJV9QueSi4SXGGgjhbil4nYG1ct5o924.woff2) format('woff2');
}
