.navlink {
	text-decoration: none;
	color: #ffffff;
	font-family: Verdana;
	font-size: 10pt;
}

.heading {
	font-family : Tahoma;
	font-size : 10pt;
	color : #633100;
	margin-left : 10px;
	margin-top : 15px;
	font-weight : 600;
}

.bodytext {
	font-family : Tahoma;
	font-size : 9pt;
	color : #633100;
	margin-top : 5px;
	margin-left : 15px;
	margin-right : 10pt;
	text-align : left;
}

.homebodytext {
	font-family : Tahoma;
	font-size : 10pt;
	color : #633100;
	margin-top : 5px;
	margin-left : 121px;
	margin-right : 10pt;
	text-align : left;
}

.heading2 {
	font-family : Tahoma;
	font-size : 10pt;
	color : #FFFFFF;
	margin-left : 10px;
	margin-top : 15px;
	font-weight : 600;
}

.bodytext2 {
	font-family : Tahoma;
	font-size : 9pt;
	color : #FFFFFF;
	margin-top : 10px;
	margin-left : 15px;
	margin-right : 10pt;
	text-align : left;
}

body {
	background-color : #CC9999;
	margin-top : 0px;
}

.imgbdr {
	border : 1px solid;
}