

body {background-color: #ff8407;
color: black;
font: 100% Geneva, Tahoma, Verdana,
➝ sans-serif;
}


/* NAVIGATION
------------------------------------------------ */
.nav,
.nav ul {
	background: #000;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav {
	min-height: 1.3em;
 	overflow: auto;
	padding: 8px 8px 8px 8px;

	/* 
		Tools like css3please.com, which I used for the code that follows, 
		help you generate CSS3 code. Try it out yourself!
	*/
  	-webkit-border-radius: 6px 6px 0 0; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 6px 6px 0 0; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}

.nav a {
	color: #eee;
	display: block;
	font-weight: bold;
	text-decoration: none;
}

.nav li {
	float: left; 				
	width: 10em;
}

.nav li a:hover,
.nav li:hover > a {
	color: #aabadd;
}

/* :::: Navigation Submenus (the dropdowns) :::: */
.nav .submenu {
	margin-left: -10px;
	padding: 10px 10px 15px;

	left: -999em; /* hide a submenu offscreen by default so visitors don't see it */
	position: absolute;
	z-index: 1000;
	
	/* 
		See note above about css3please.com.
	*/
  -webkit-border-radius: 0 0 8px 8px; /* Android ≤ 1.6, iOS 1-3.2, Safari 3-4 */
          border-radius: 0 0 8px 8px; /* Android 2.1+, Chrome, Firefox 4+, IE 9+, iOS 4+, Opera 10.50+, Safari 5+ */
}

.nav li:hover .submenu {
	display: block; /* for older versions of IE */
	left: auto; /* show the submenu when user hovers over the parent li */
	width: 10em;
}

.nav .submenu li {
	float: none;
	font-size: .875em;
	margin-top: .5em;
	width: auto;
}





h2 {font-family: "Gill Sans", "Gill Sans MT", ➝ Calibri, sans-serif;
font-weight: normal;
}

h1 {
font-size: 2.1875em; /* 35px/16px */ }




h2 {
font-size: 1.75em; /* 28px/16px */
}
