/* $Id: ischool.css 158 2010-01-25 02:25:00Z ryanshaw $ */

html {
	font-size: 20pt;
}

body {
	font-family: arial, verdana, sans-serif;
}

.slide {
	padding: 0;
}

/* HYPERLINKS */

a.extra { border-bottom : 2px dotted ; }

a { border-bottom : 1px dotted ; }

a:hover, a:active {
	background-color :  #E0E0E0;
/*	background-color :  #E0E0E0; */
	color : black;
	text-decoration : none;
}

a.img { border-bottom : 0px ; }

a.img:hover { background-color : transparent ; }


/* TOOLBAR AND FOOTER LAYOUT */

.kilaueaFooter {
	color: #000000;
	background-color: #CAE188;
/*	background-color: #CAE188; */
}

.kilaueaToolbar {
	color: #5173B6;
/*	color: #5173B6; */
}

/* BACKGROUND */

.background {
	background-image:  url("ischool/circles.gif");
	background-repeat:  no-repeat;
	background-position:  bottom right;
	background-color:  #ffffff;
}

/* HEADINGS */

.slide h1 {
	font-size: 160%;
	background-color:  #8AA148;
/*	background-color:  #8AA148; */
	border-bottom:  5px #5173B6 solid;
/*	border-bottom:  5px #5173B6 solid; */
	padding:  0.8em;
	margin: 0 0 1em 0;
	color:  #ffffff;
}

/* BULLET LISTS */

/* Overrides slidy.css second bullet italic style */
.slide li li, .slide li ul li { 
  font-style: normal;
}

/* Overrides some slidy.css bullet styles */
.slide ul li, .slide ol li {
  margin: 0.1em 0em 0.5em 1.5em;
}

/* Makes default li a blue square */
.slide ul li {
  list-style: square url(ischool/bullet.gif);
}

/* Makes subsequent li's standard shapes */
.slide li li 
{
  list-style: disc none;
}

.slide li li li { 
  list-style: circle none;
}

.slide li li li li {
  list-style: disc none;
}

/* BLOCKQUOTE, ABSTRACT, QUOTE NOTES, CREDITS */

blockquote { margin : 3% ; padding : 3% ; border : 5px #5173B6 double ; }
/* blockquote { margin : 3% ; padding : 3% ; border : 5px #5173B6 double ; } */

.abstract { margin : 5% ; padding : 5% ; border : 6px groove ; text-align : justify ; background-color : #F6F6F6 ; }
/* .abstract { margin : 5% ; padding : 5% ; border : 6px groove ; text-align : justify ; background-color : #F6F6F6 ; } */

.quotenote { text-align : right ; margin-right : 3% ; }

.credit { position: absolute; right: 2em; bottom: 2em; text-align: right; font-size: 50%; }

/* COVER PAGE STYLES */

.slide.cover {
	background-image:  url("ischool/cougar.jpg");
/*	background-image:  url("ischool/south-hall.jpg"); */
	background-repeat:  no-repeat;
	background-position:  bottom right;
	background-color:  #ffffff;
	text-align: left;
}

.slide.cover h1 {
	font-size: 180%;
	background-color:  #BAD178;
/*	background-color:  #BAD178; */
	border-bottom:  5px #81A3E6 solid;
/*	border-bottom:  5px #81A3E6 solid; */
	padding:  1.5em 1em 1.5em 15%;
	margin: 0;
	color:  #000000;
}

.slide.cover h2, .slide.cover h3, .slide.cover h4, .slide.cover h5, .slide.cover h6  {
	padding-left: 15%;
	margin-left: 0;
}

.cover a {
	border : none;
}

.cover p.explanation {
	font-style: italic;
	margin-top: 3em;
}

/* PRESENTATION NOTES */

.note {
	background-color: #CAE188;
/*	background-color: #CAE188; */
	color: #000;
	padding: 0.5ex 1ex;
	font-size: 90%;
	opacity: 0.97;
	filter: alpha(opacity=97);
}

/* LICENSE */

.license {
	font-size: 9pt;
	position: absolute;
	left: 1.4em;
	bottom: 2em;
}
.license p {
	float: left;
	width: 90px;
	line-height: 120%;
}
.license p + p {
	width: 20em;
}
.license a {
	color: #333;
}

/* SAMPLE CODE, LISTINGS, LISTING REFERENCES */

pre {
	padding: 0.2em 1em;
	margin: 1em 1.875em;
}

li pre {
	margin: 1em 0;
}

pre, pre a {
	white-space : pre-wrap ; white-space : -moz-pre-wrap ; white-space : -pre-wrap ; white-space : -o-pre-wrap ; word-wrap : break-word ;
}

pre a:link, pre a:visited, pre a:hover {
	text-decoration: none;
	border-bottom-width: 0;
	color: inherit;
	background-color: inherit;
}

.ref-container {
	text-align: right;
	position: relative;
	margin: -1em 1.3em;
	visibility: hidden;
	display: block;
	padding-right: 1ex;
	line-height: 120%;
}

/* opera hack */
html:first-child>b\ody .ref-container {
	margin-top: -0.65em;
}

/* pre:hover + .listing-sourceref, .listing-sourceref:hover { */
pre:hover + .ref-container, .ref-container:hover {
	visibility: visible;
}

.ref-links {
	margin: 0;
	position: relative;
	top: -1.7em;
	display: inline;
	font-size: 60%;
	background-color: #fff;
	border: #95ABD0 solid 1px;
/*	border: #95ABD0 solid 1px; */
	border-bottom: solid 4px #fff;
	padding: 0.34em 1ex;
}

.slide ul.ref-links li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0 1ex;
}

.slide ul.ref-links li + li {
	border-left: 1px dotted #000;
}

.listing-sourceref .ref-links a:hover {
	background-color: #fff;
}

.media-info {
	font-size: 60%;
}

/* IMAGES, IMAGE REFERENCES */

.stretch-width {
	width: 100%;
}

.stretch-height {
	/* does not work. see mantis bug 404 */
}

.ref-container.img {
	margin: -1.3em 0.3em 0;
	text-align: left;
}

img:hover + .ref-container, a.img:hover + .ref-container {
	visibility: visible;
}

.img .ref-links {
	background-color: #555;
	opacity: 0.7;
	font-size: 50%;
	border: none;
}
.img .ref-links a, .img .media-info {
	color: #fff;
}

.img .ref-links a:hover {
	background-color: #555;
}

/* FIGURES AND CAPTIONS */

.figure {
	margin: 1em 0;
}

.caption {
	margin-top: 1.3ex;
	text-align: center;
	font-size: 70%;
	font-style: italic;
}

/* OUTLINE SLIDES */

.outline-current { border-style : solid ;   border-width : 1px ; }

/* ENDSLIDE COMPATIBILITY */

.kilaueaEndSlide a:hover {
	color: #333;
}

/* FROM XSLIDY-FALL08.CSS */

.xml, .css, .xpath, .xslt, .xsd, .xlink, .mime, .xq, .atom, .http , .uri , .html { font-family: monospace ; }

.elem:before { content : "\3c" ; }

.xslt.elem:before { content : "\3c xsl:" ; }

.xsd.elem:before { content : "\3c xs:" ; }

.elem:after { content : "\3e" ; }

