/* $Id: print.css 125 2009-01-26 19:11:01Z felix $ */

/* PRINT FORMATTING */

@media print {
	
	/* USE A FIXED FONT SIZE FOR PRINT (can be changed if desired) */
	body {
		font-size: 12pt !important;
	}
	
	/* PAGE MARGINS (in absence of @page, this is the best we can do) */
	.slide, .printtoc, .partTitle {
		width: 94%;
		margin: 1ex 3%;
		padding: 0;
	}
	
	/* HIDE PART TITLES AND THE TOC IN SINGLE SLIDE MODE (otherwise, they will appear stacked on top of the single slide) */
	.printtoc.only-media-print, .partTitle {
		display: none;
	}
	
	.allSlideView .printtoc.only-media-print, .allSlideView .partTitle {
		display: block;
	}
	
	/* HIDE OUTLINE SLIDES (cha be changed if desired) */
	.slide.outline, .slide.outline.active {
		display: none;
	}

	/* SIMPLE FORMATTING FOR LINKS */
    a , a.outlink { border-bottom : 0px ; }

	a:link, a:visited, a:hover {
		color: #33a;
		text-decoration: underline;
	}
	
	.print-href {
		font-size: 75%;
	}
	
	/* CONTROL PAGE BREAKS */
/*	.slide, .printtoc { */
	.slide {
				page-break-inside: avoid;
	}
	
	.slide, .printtoc {
		page-break-after: always;
	}

	/* FORMAT SLIDE AND PART TITLES */
	.partTitle {
		page-break-after: avoid;
		border-bottom: solid 3pt #000;
		font-size: 280%;
		margin-bottom: 1em;
	}
	
	.slide h1 {
		border-bottom: solid 1pt #000;
		font-size: 180%;
	}

	.printslidenum {
		float: right;
	}
	
	/* PRINT FOOTERS AND HEADERS */
	.printfooter {
		border-top: 1pt solid #000;
		position: fixed;
		top: 23cm;
		left: 0;
		width: 94%;
		margin: 1ex 3%;
		padding: 0;
		font-size: 80%;
	}
	
	.printheader {
		page-break-after: avoid;
		border-bottom: 1pt solid #666;
		margin-bottom: 2.7em;
		font-size: 80%;
	}
	
	.printheader .slidenum, .printheader .part, .printfooter .date {
		float: right;
	}
	
	/* do not display the header on slides which contain part titles */
	.partTitle + .slide .printheader, .partTitle + .slide.outline + .slide .printheader {
		display: none;
	}
	
	/* STATIC PRINT TOC */
	.printtoc ul {
		margin: 0;
	}
	
	.printtoc ul ul {
		margin: 0 0 0 1em;
	}
	
	.printtoc li, .printtoc li li {
		font-style: normal;
		margin: 0.8ex 0;
	}
	
	.printtoc .slide-entry {
		border-bottom: 1pt dotted #000;
		line-height: 1.1em;
	}
	
	.printtoc .slide-entry .slidenum {
		line-height: 1.1em;
		float: right;
	}

	/* COVER SLIDE */
	.cover h1 {
		border-bottom: none;
		font-size: 300%;
	}
	
	.cover h3 {
		margin: 1em 0;
		font-size: 240%;
	}
	
	.cover h5 {
		margin: 1em 0;
		font-size: 180%;
		line-height: 1.9em;
	}

	/* LISTINGS */
	.ref-container {
		display: none;
	}
	
	pre, pre a:link, pre a:visited, pre a:hover {
		color: #666;
		text-decoration: none;
	}
	
	li, pre {
		line-height: 1.3em;
	}
	
	pre, pre a {
		white-space : pre-wrap ; white-space : -moz-pre-wrap ; white-space : -pre-wrap ; white-space : -o-pre-wrap ; word-wrap : break-word ;
	}
	
	/* IMAGES */
	
	img {
		max-width: 15.5cm;
		max-height: 18cm;
	}
	
}
