/**
 *
 * NOSTALGIA!
 * 
 * a port of Dave Raggett's slidy.css (see http://www.w3.org/Talks/Tools/Slidy/slidy.css)
 * 
 *  to be used with (and included after) kilauea.css
 *
 */

html {
  font-size: 15pt;
}

body {
  color: black;
  background-color: white;
  font-family: "Gill Sans MT", "Gill Sans", GillSans, sans-serif;
}

.hidden { display: none; visibility: hidden }

.kilaueaToolbar, .kilaueaFooter {
	height: 1.2em;
	padding: 0 1ex;
	background: rgb(240,240,240);
}

.kilaueaToolbar {
	bottom: 0;
	background-color: transparent;
	z-index: 31;
	color: red;
}

.kilaueaFooter .kilaueaTitle {
	display: none;
}

.kilaueaFooter div {
	margin: 0 4em 0 4em;
}

.kilaueaToolbar div {
	margin: 0 1em 0 0.7ex;
}

.kilaueaFooter div + div, .kilaueaToolbar div + div {
	margin: 0 0 0 0.7ex;
}

.kilaueaToolbar ul {
	margin: 0 1em;
}

.kilaueaCopyright {
	margin: 0;
	color: #000;
}

.handout {
  margin-left: 20px;
  margin-right: 20px;
}

.slide.titlepage {
  text-align: center;
}

.slide.titlepage.h1 {
  padding-top: 40%;
}

.slide {
  padding: 0 20px;
  line-height: 120%;
  background-color: transparent;
}

.slide h1 {
  padding: 4pt 20pt 4pt 0;
  margin: 0 60pt 0.5em 0;
  font-size: 160%;
  line-height: 1.2em;
  background: transparent;
}

.panel {
  border: solid thin black;
  padding: 1ex;
  background: rgb(240,240,240);
  color: black;
}

.panel h3 {
  width: 100%;
  border-bottom: solid 1px rgb(180,180,180);
  margin: 0 0 1em 0;
  text-align: center;
  font-weight: normal;
}

.kilaueaToc {
  bottom: 4em;
  left: 4em;
  width: 60%;
  max-width: 30em;
  height: 30em;
}

.kilaueaPartInfo {
  display: none;
  visibility: hidden;
}

pre {
  font-size: 80%;
  font-weight: bold;
  line-height: 120%;
  padding: 0.2em 1em;
  border-style: solid;
  border-width: thin thin thin 1em;
  border-color: #95ABD0;
  color: #00428C;
  background-color: #E4E5E7;
}

li pre { margin-left: 0; }

@media print {
  .slide pre { font-size: 60%; padding-left: 0.5em; }
}

blockquote { font-style: italic }

img { background-color: transparent }

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

a:visited { color: navy }
a:link { color: navy }
a:hover { color: red; text-decoration: underline }
a:active { color: red; text-decoration: underline }

a {text-decoration: none}
.navbar a:link {color: white}
.navbar a:visited {color: yellow}
.navbar a:active {color: red}
.navbar a:hover {color: red}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }

div dt {
  margin: 1em 0 0.5em 0;
  font-weight: bold;
}

div dd {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

p,pre,ul,ol,blockquote,h2,h3,h4,h5,h6,dl,table {
  margin-left: 1em;
  margin-right: 1em;
}

p.subhead { font-weight: bold; margin-top: 2em; }

.smaller { font-size: smaller }
.bigger { font-size: 130% }

td, th { padding: 0.2em }

ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }

.slide ul li { 
  list-style: square;
  margin: 0.1em 0em 0.6em 0;
  padding: 0 0 0 0;
  line-height: 140%;
}

.slide ol li { 
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
  list-style-type: decimal;
}

.slide li ul li { 
  font-size: 85%; 
  font-style: italic;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

.slide li li ul li { 
  font-size: 85%; 
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
.slide li li li ul li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

.slide li ol li {
  list-style-type: decimal;
}

.slide li li ol li {
  list-style-type: decimal;
}

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/

ol.outline li:hover { cursor: pointer }
ol.outline li.nofold:hover { cursor: default }

ul.outline li:hover { cursor: pointer }
ul.outline li.nofold:hover { cursor: default }

ol.outline { list-style:decimal; }
ol.outline ol { list-style-type:lower-alpha }

ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(slidy/nofold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(slidy/fold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(slidy/unfold-dim.gif) no-repeat 0px 0.5em;
}
ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(slidy/fold.gif) no-repeat 0px 0.5em;
}
ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(slidy/unfold.gif) no-repeat 0px 0.5em;
}

ul.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(slidy/nofold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(slidy/fold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(slidy/unfold-dim.gif) no-repeat 0px 0.5em;
}
ul.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(slidy/fold.gif) no-repeat 0px 0.5em;
}
ul.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(slidy/unfold.gif) no-repeat 0px 0.5em;
}

/* for slides with class "title" in table of contents */
a.titleslide { font-weight: bold; font-style: italic }


.submenu ul {
	display: inline !important;
	visibility: visible !important;
	margin: 0;
}

.submenu a {
	display: none;
}

.submenu * a {
	display: inline;
}

li.submenu li {
	font-size: 100%;
	font-style: normal;
}