
@font-face {
  font-family: 'nobel-std';
  src: url('/font/Nobel-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nobel';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAAIhYABIAAAABTKwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABMVFNIAAABlAAAAFMA
AAD97eQZv09TLzIAAAHoAAAASwAAAFZaycxEVkRNWAAAAjQAAANeAAAF4HG0eTtjbWFwAAAFlAAA
AuEAAAOIC4KtZGN2dCAAAAh4AAAAGgAAABoBAAgbZnBnbQAACJQAAAD7AAABU8lgsZtnYXNwAAAJ
kAAAABAAAAAQABcACWdseWYAAAmgAABSJwAA775loM6CaGRteAAAW8gAABDiAAAanLUt9xpoZWFk
AABsrAAAAC4AAAA22FNd6WhoZWEAAGzcAAAAIAAAACQHwASGaG10eAAAbPwAAAJSAAAD5Pk3Jslr
ZXJuAABvUAAAEsUAACdIVaJc0mxvY2EAAIIYAAAB9AAAAfRf5ZxobWF4cAAAhAwAAAAdAAAAIAML
ArZuYW1lAACELAAAAjEAAASzgC9QMXBvc3QAAIZgAAABvAAAAj/yxfyscHJlcAAAiBwAAAA7AAAA
VJUu64942mNgYPjJCAWJjLEQKpERxNKHCCYyooBYRgxgDpeBSKZiV5YKMwEkl5gK5ieGMBIG2mCV
cK6+PiOcn4giAzLYRz8VChghGGx1KoorYDwAidcTnQB42mNgZCxjnMDAysDAcAYIGRjl4LQRwy8G
BiYGVmZmEMXSwMCgDlTlwAAFbk6eIErhNxOzwn8LBgbm5Qx7FRgY/9+/zsAAAA38DigAeNodzFN0
mAsUROHdt9q2bdu2bdu2bdu2bTuN07ixUzfluXP/efheZq0NJCPZ/yM1ScmN5CS3f6QghUxJSpmK
VPZXb2qZhjQyLWllOtLJ9PIPGUgvM5JBZiKjzEwmmYXMMitZ7DfZyCqzk03mILvMSQ6Zi5z2i9zk
knnILfOSR+ZzzE9e+0kB8smC5JeFKCALU1AWoZAsSmFLohhFZHGKyhIUkyUpLktRwn5QmpKyDKVk
WUrLco7lKWPfqUBZWZFyshLlZWUqyCpUtG9UpZKsRmVZnSqyBlVlTarJWlS3r9SmhqxDTVnXsR61
ZH1q2xcaUEc2pK5sRD3ZmPqyCQ3sM01pKJvRSDansWxBE9mSprIVzewTrWku2zi2pYVsR0vZnlb2
kQ60lh1pIzvRVnamnexCe0ukKx1kNzrK7nSSPegse9LFEuhFV9mbbrKPY1+6y370kP3pafEMoJcc
SG85iD5yMH3lEPpZHEPpL4cxQA5noBzBIDmSwRbLKIbI0Y5jGCrHMkyOY7gczwiLYQIj5URGyUmM
lpMZI6cw1qKZyjg5jfFyOhPkDCbKmUyyKGYxWc52nMMUOZepch7TLJL5TJcLmCEXMlMuYpZczGy5
hDkWwVLmymXMk8uZL1ewQK5koYWzynE1i+QaFsu1LJHrWGphrGeZ3MByuZEVchMr5WZWyS2stlC2
skZuY63czjq5g/VypwxhFxvkbjbKPWySe9ks97HFPrCfrfIA2+RBtstD7JCH2SmPsMuCOcpueYw9
8jh75Qn2yZMyiFPsl6c5IM9wUJ7lkDzHYQvkPEfkBY7KixyTlzguL3PCArjCSXmVU/Iap+V1zsgb
jjc5a/7c4py8zXl5hwvyLhflPS6ZH/e5LB9wRT7kqnzENfmY6+bLE27Ip9yUz7glnzu+4LZ8yR17
zyvuytfck2+4L9/yQLrw0Hx4xyPpymPpxhPpzlPpwTPzxpPn0osX0puX0sdRVfPCl9fSjzfSn7cy
ABcZyDsZhKt5Eoyb/IC7DMFDhuIpw/AyD8LxlhH4yEjHKN7LaHzNnRj8ZCz+Mo4AGU+gTCBIJhJs
bnzkg/xEiPxMqPxCmPxKuLnyjQj5nUj5wzGJKPmTaHvHL2Lkb2LlH+LkX+LlPxLMBSPRXP4DtTnP
pAAAeNptkglQTlEYhp/7/wrZkqh+5P4XZRey77Lv+7602ZWdRFlLdrLNWGayL5UkW1QKlbIv2bv9
SHYRZsyQ65QY2zvznvPNd2aeM+d8L6BDIk/W6PMqySBsTkFT7Hqx6PlT4lBfyMy8cJGiE4oVL1Gy
lGVpqzLWZcvZ2NoZyleoaF9JNiqVq1R1cKxWvUbNWrXr1HWqV7+Bc8NGjZs0bda8RctWrdu0beff
vkPHTp27dO3WvUfPXr379O3Xf8DAQYOHDB02fMTIUa5uHAwNCz8UcTjySNTRY8dPnIw+dTomNu5M
fMLZc+cTk5IvpExL9fAcN2vm5ouXLs8PuLJyzdVr12+MuXkr7fadu6vW3Qve6Od+/8HYh+mTfOfq
M0yP1m6aumLiHBeLx08yn44e7+U9ecr0GbN95mU9e/7i5avXb95mv3uf8+Hjp/ULFi5avCRwadCy
5RTSeYuXDqUNZhhwwJFRuOKPJtWT2kn9JDfJR/KXgnXJuhRdut5fH6OPl61lg2wvK7KD7CQ3k9vL
YUbF6KDoFHOllGKlGBR7pabSWXFVRiuJVVM/a190mibukAW7mmC7ESLYbaW+kqtg+wl2kmDfLWCX
kW3lCrKcz276F7v0b2zPArakadoT+GX3vMFpTTQvzfgtDXKj4WtIrk2uzc+hmgaYupucTUZT14zQ
jCj1hnpHTQY1QY1Uw9UNqrfqlR7xwK5wjpl3fjgGCw8U7i/iYClZ/YpG8R/Or0VfKpeXqH8lWfB/
TRB/rOKOB56MZwx7GUcAl1jFJO5jyUUWkco19rCb+dxkJjNYyk7W4csOQtiFHxk8JwsTBwllJWG8
JJxnvOAtr3jNGz5ziByyeccjItjPGj7xgY8cZgvb2MwRIoniGEc5TjAniOYkpzhNLDHEcYYDxHOW
BM6RyHkes5FkkrhAClvZTiar2cBaNrGA5SxmCYEsYyFBTGUFLlgwm4nMwYdpTGcWaez7DsQ9FcUA
AAAAFABYAF8AYABoAAAADAGgAAwC2gAMAukAAQAAeNo9j79OxDAMxpNLOegbIEVIsaLecMqJnalD
Wgl1KZQhXvgj3Un03gGJhSUDz2K2sPXFELihusX+/Nn66XMSwnVJlH34kvITk/z9SMJffYtSqKfH
XRLSGdOMnuQzDyvHxhZYKWdaUlV7HyyaaOLtPprWvL7sqahy58Uh4rUhMYSR60MAqlGf5AHxhjnF
zCkyJyITjgvhmAkM+OGjM9cZUps+3AV695pqjxrANDT1gSavAZGv1qek3N/GyyXzOWdeb1lc/FMG
ZjACY1ym1QZoilFH/iQ7FpIUi8GfzjeqapKs+7yqLejZsGCBc6Bndum6ITScBHD3B/9bYi4AAAAA
AwAIAAIAEAAB//8AA3ja7b0HnGNndSh+v3s10oxm1NuoS6PeRtJIGk3v22Z2d7Y37+7Y3vV61zUu
QIwxHWJjbAIGw4sNOBAwBAcDTog9k0doSew8eExIQrBZAimQhkN4cUgIXu3/nK9IGmmKZm2w8/vb
67u69+4t3z3tO+d8p0iyVJAk6UH5GalN6pC2LElEUkmypEo9LhHj45J6+XFJht/2ZelxSdpyBM5m
3U/ARR1jR/kJNZ5QS21jR5+QNJL8fC5vMYVMloKjFLI9eM46aT1HHiOxytOVf3rwhhvg0X0yISH6
vk5pxxLcokjt9H0aI75dqb4d3qjKPi5ps2u9WYMnNHgilyfwNkchRv8moQVr+fWwyTdee+0NN8Am
wUMz8NcwvNct+aUPS02P4Cc68URn3QkbnrDh5/ETTjzhxBM4XALQY8NdAiDg8PFIDSDrWGa/OvhV
4NewzEBqgl8Jfi3818H/3cP/3bucy0dKoXIBtpCGbrYC3Qpl3GJwTh5+tf7sFeZj5tfBdsdrDNX9
GcPr9N/Y+fDOr8F/8PMN+O/fH34YRmW7+FnZqVilrDQgjUvfWAK0K5KDDrYAQzfCkYkeGeEIPkka
pEc4QCNsbTA4Ex8k/saX2fkkP84tT3bC9xckO2xR2Pph2wpb24nJNukg7FwFm4wHx+DR18AGBwBn
2HHCloAN/+yAre0Ee/bI8qI0CmOUTOZBwJcR6CCRXZRycLERTuE/sj2AV7FXjpV8xFHuVZAG9IrN
6pMdJjjS+BSHrVAaU0gvKRXH5LLFqtbApbIzNrorFhz3l7Sh7KB/R2RLKRDsnwm7cqmergljfmQ6
tCMzPxysfC9RNLqC5ifG+rKTXyrOluOmP2tzu3Zou20mZWhI5UiOJlJjvSFD5acqS7era8waCdhV
8/MqX980GbBmQha3uVOpTGT6NP/iGAWq77v4nPw5+YeSBT4tBbjYTx5eAnApkpZCvJ/CX5HSHP5L
0iwc9dCjWTjqhqMJetRtpDCXAOYSwFyCh0gAc0nAXAKYSwLmEwDzCQHzCYD5BABvAqA9ATCfgFsW
JSv8dgM46VP74an98NR++mcrbPyp/fDUfnjQIlyglfrxenx+Dzy/Rzy/B57fA8/vgef3wPN7KE4P
nhdcZ0UWstYxWRueaKs7YccT9jqui+GJGOM6L/DZPAWBl/LVE1JeIs/DU4xPSMOwBwM6CjvnYKMD
aoedbtjisA3Ath02HFAMrt+C13eCCNgC6NgCb9gilWHbBhv94EOwcwY2+QTIGKCyUI9eRtoq9I3J
kRApRBrOEasejntlJLVCn6/5eLc5XOoJliLW7lifO9gfsZK5qyq6q+SuxvOV7WqDw2iw69UavcMA
vxpyuvGMnI5OF3zewpZ4dlvW4S1u+asL0ccaTpEPWxNBmy2YsNrg1x5MVm5tOIHk5gGqfDVQZRLh
Q8xL0jScDFIgTwPV6eEoRY/0jOqmATvTQB/TQAzTQB/Tgj6mgT6mKX10w/3TQB9AqVlKIymgkZSg
kRTQSApoJAU0kgIaScEDnpCKkvK8oBILotxSRxQSnpDqiCKKJ6LshAWQOSiQPwjIHxTIH4SRDALy
BwH5g4B8JmGicP2YQP4YIH8MkD8GyB8D5I8J5I8B8sco8oOxMVKO6YkmNqaUqki3+wmTNYW+/rJD
AWRrYkzOFPrsFrXAfFl+9bXWmGmLIWB62JqOdDt7J+Oh8Zwn5Ii6C/Hu4ODO5PjpQv+jVo+33dnt
0Nm8hmhiZstBRzJgMXvDpteaE45Re8j0RWM0O9ATHss43b2jofi0O23KDExF4jN9HniePNadCHa3
edwpr8nv0Ocr/n6TN+7oToV9XRLwjEsm0odgBuyUko3zvA55U90808JkDuIUJGZhTPnQOatmpN3p
MMq/MXFjYETfEUhk4SrvxV3EIj8LmBpfgmeqJAN9qorRiQroRAU4UgGdqIBOVIJOVEAnMIITEp/h
s7l8W6mXlBFaJQZTYtkzQYyh/mjfselYauuRx/bOf+G1Q2dP7I/uCZ761V/bsuc9ty/gd+lgBAqM
wCQNs7mrA0ZAKa4DKK5DUFwHUFwHUBzOOR1AcR0wFHi7Lovyh3F3zAZziF2tscF0ocRmjvbtnCRk
Yj5zZGuKRLb82q+eCu7Z9flXvfYL83s9C7e/B98dJ58hVwBM9ZKHf0mXgKKCUFS4ehLTxEKamMah
cZQd5Ri5wnyuvdhxznhqILV1W6IsH8o7r7vO2Zc44du7L3AZPDck3UH+XHYCrqaX4CEKQjbFFAUV
1cfYvhb1MgXe2JFdqY2wKRunb80y1Y4AjaBDwExI/vxTxz71qWMkcOijH4X/4R7zxRul+6UbJJ3k
baQLA9JFexZJIpcvIykAhQMt3H9O3a5VKDX07HyLORJ0d2ijuTJCJCN9ghCpQhWKlWOieo2NkL/4
xKFD7EqJvhcmu8b3tlXnihrTI0miegmKke3+c6BLEoC6RG4F6CtSpOH6mtSQ8YSMDwA4gMQmty5U
frYgP3MhilphHOTeAJ2NY9LPQK+hSgbceR72KXw5eRpxwlI9T6nKClRlFVRlBaqyAlVZgaqsQFVW
Kl20cL0Pr0ce8AEP+IAHfMADPuABn+ABH/CAj/HA6tOgAU8Y2Mc74eOpsHKCsHLCcJ0grJwgrJxC
WDlBWMFVJ9hMGMLrURiGQBiGhDAMgTAMgTAMgTAMgTAMwc3NM1usYdaSB/wTp2amTk/1JLYt9E+f
ng5eY4iO9caHYhZTZDTdOxo2kJt23nlmeOjM3XsW3nmyd+jqu+fyp/cW+vZe1Ve4am+htO8qxLgT
/jJRbplkur6uinHj+TUtjBoJLMIN+AjU+YKmkF5BTi2biGlan+or2s3pZEgrP+NO+a3KSVlntnVc
+BI8KQ2ItgCO/dLvPy4FgVFM8GYjfTPqrkG0c84vAjEYJTU8+gkwETim3YBpt8C0G4bvBky7AdNu
wLS7qqn6gUr8WWktE6KRhOESI2o3HD92wI9d4McO+LEDfuyAHzvgx07xEywFLWOkOu0UOFpQMBPZ
Uvnun4U8iakD6fzB8fAVhmAxbM4mPMZA5SsLhKQOREcP9jt9I0eHPMWYo8vbF7MOxCs3wkgcQPtx
gMsAMTGdMy7kZhy+Oy6+Ow7fHYfvjtNZdAdsqC2q4Veis7s6ixBTWoTYIrxHLbmZTr86vIp4osh0
vSCMkym/QeMiVYSD9KUMgqRFCMIz4fqMmO4zwEEZ4KAMcFAGOCgjOCgDHJSh032kGI3VIK5xjCkM
4Ho5RWxiN9QTBfuCIMfI8cl8uGzsOzY7cGAkot2v9SYKgXjR12kL59zHL/OU025rciIzci5ajr79
8J5zo91/teWow7K74J4ZTXrTffa0KeQxdwdDXa6E13BE5y9EXPl4d9i925dOz8wDcXYDFSeBd7RA
prctwY8CX4KA0QIFystoPwNYltmxucpNtVmIn2jHE+3N9iubLdTcCu0E46sLLlOopWXke1SCm0LE
FoSJJBYCmszLyTO7Kr9Jdi0sfPPLau0jR8lfVhxbHoFfa7sZeQ9ozAOjTkofZHOzXdCYHSjFLijF
DpRiB0qxA6XYgVLsbG5enT5qat8SSEvCDdc2I6OKDmoLoHrnFhLTDfh2A77dgG834Nst8O0GfLs5
vhHTak0ZWE1xjJEaikErABuS4tjjHz7Ynxu06km88mb/Tuu2NCrslthIwl3Kxg1FU3FsJjR0xZZo
pXhsOmo3fe5Y5baOeKI7PRzyj+S8Okt357zB69BHtlxJPRIAGzXAxif1SRfADs8i6bO5pwAfY1tG
78MigN5GOW0RxCbbewIgpbC5JUHBFoWtH7atsPG5JQFzS4JOBsZlZjzjHOYXfOoH6PsF9P0AfT9c
7Qfo+wH6/jro6xHY+jrou/CEqwb9Xg59HGiv1Ea50wWvCgtuCwP0wwD9MEA/DNAPC+iHAfrhFdAf
U8ZJSCM06lXmIbVv6GA5MN6t9gU9bQdvuMoU9lki44fy/YfHe05Zwn1+TyFqt0YKAU8+YvubvqPT
MZfTWCql2+962LN178ni8ImJnujE4T7/QMrpSA5H/OVktyMxhHPTMKBERf1S2TV1CRWeUHELxIhq
BSokJGgLkoKsqpRJufLdG+Vnjl94M4rTAuB3GORrDB0b5LeWpBm410fBNWNEDlZRiYsc26rUHYJf
LQXxELOphuCeIXHPENwzBPcMwT1DcM8QtamA655fhM9id1KqmQGqmQGqmQGqmQGqmRFUMwNUM0Ot
NyuMdIa+yQryvY8+AzWdvjrJzdWTGnwyeCIjaaonQngixACWAYBtEyJ7G4jsbUJkbwPhtg3Gtw1E
9jYQ2dvot7ahbKZ07+R78EZ4Rlk8owzPKItnlOEZZXhGGZ5RhmeUqdgPwfXjghDHgRDHARvj8I/j
8JJxQYjjQIjjVUJcYeD5ZEeNHJUV5Gi3VA/74UgetgUSFlPAaQiNHS7mDk1GDS6/yRIP2CLTl4+M
XDEdfoM1nPc481GHPZp3jW1zOJODAf9g2nVgdsvh5ehwxtuudUd6Pb07yz53aVdfINvj1LZ7UyOx
4t5Bn29wH3mtO+Uz6L0pryftN05V3hrMBYzmYM43OjqB8iR68V+pnoPg+ufHpV7g+SyXJ71VXXZR
MgPlsZkbSdgldB0XUJJLUJILHuICSnIBJbmAklwUmkwiMe02LLTbMNBSGGgpDLQUBloKC1oKAy2F
mXZrzTZpuEsgZQi3Ff1GHJVB8tNRofKaEDhOAI4TAscJwHGCcsUAbNupsGtUXvvLiqM8pjRJDktk
+ni5cHQyEhk/mPONuX7nwJsNIb/1rC3aH0ChYQkXA8FS1EZ+3H/ZVDg6fVmp/9h4yOqoXCz/qWNq
/kQuOJhw2GMDoeBQ2uVIDDOPsnQ/eYROxJc1WjAq7jkXE2pHo36rWVWqECMyLOqIKiNCivrTweCx
UKPn3DkydsMNlS/fQD3a1G6j7zdJExu934Lv78o2jYG9rvaSqoF3rmbi0Zf+fYOdF5XOkJIcBAqw
cU+9lEUlGsQN1xRi5VKbjZQWFys/OXPtrbec+/05HPWk9EXyFHmGQs0vsTlExeeQRnuRlIK2NtjI
U5VfJXfC9tZDh74KxiORRuHtO6tvl7Oohi7Cc9SSTN9OShGbQ2MjOys/WVwk/rnfP3fLrddSFV8i
HwIeCYLF+BS6FZdAPKmA2vGVISM6BZFjnkAbgfGFCfjCJPjCBFeagO5MwBcm4AsTlzJA4suMzE3U
hQ8b7DthPwL7keyaFl4PnuhhuEfC7xKE3wWE3yUIvwsIvwsIvwsIvwsIv4u+todbeYIF1Jqq4qLG
SbRQ7AdOUNDm/pC7sDM/djI21T0Zd0Zd+oTX2OM2XRH3otb50XOyP7Wj5OvtnfYlLcGUIz0TtecG
JqL9+6OOTN9ARcXoDfQVxQ+w2y9dTn5tCXV+7rN2A+KOw9EMPToORxk4OkCPMtyfHeH+bCoz3CAz
3EBBbpAZbpAZbiEz3CAz3MJnHQHIRwTkIwD5CEA+ApCPAOQjFAQHAMJjAOExQP5OeGNGzHDH4Q3H
4Q3H4Q3H4Q3HxRuOwxuOt2ZzL0mHgdJ20IEfNuKSCWoJYskEphVpgR6NG9nEZBcTjR0mGjtMNHaY
aOww0djFRGOHicZetdADAtcBwHVA4DoAuA4ArgOA6wDgOkA/dAe8Y375CdCjyfP4qTukw4zOG4Rf
TE/qxR63UkZJ1ZDBqcpWfwezX9rEff3DRPEPnL573+67rh4evvqu3aG5pD0y4Z1+1ZFC4cirpmd/
9UDG5u/R2ayu3NaUKZ6IGDz988WB07n5st8aG4r173drYynHYL6n8l/O7QF/zN4+MXWK3L399Qv9
+Dx8rt6SN3UWDr96avrVhwv5fdcMlbanrTrrNzKDQZ1K09Ux2B0qWaPlHi8I5qDD6XcNnSi7PJ1W
lyGBxjz6EeS7QVfTAD/PtOA3WGkLUdR2oE+Ioq8DBE0QPUPlgkMJlcGmydkd8t2VH05U/vGaI/90
5PaP7pQVlYweox/9iMx+vU2vV8NTUJhpYAxWkGJx6XtLkgfkiJ4+0QPk0Q5HNnrUzrQ7G1CzTVCz
DT7BBtRsA2q2ATJtVOMJwG87nQMDTLsLwD0BcU8A7gnAPQG4JwD3BFZod+JODxBKuLpaq8Mv1q1B
3cBonC3dRnxEhJrlcBPQpofOQYaqhGGKETWIU8QklKEUKVE9SM12ZI09nLaF8v7B3b1f+s7IoX7n
uzp9xcT0zrHx2MTMda8emPrjnqGMX+3YN57a2ue+EA0PbiO/4siEHf9QrtxVGH16EL2CoDU/RiX0
7yGWVKihUCxRvkZTsQP4ugP4ugP4ukPwdQfwdUcdX/N129qX+/GEn3lhVMIyVOEaKHCqCjhVBZyq
EpyqAk5VUU61GdH+4b4aPXCqXnCqHjhVD7jXA6fqgVP1VB2JrGBBu6PcS+rYTX5se/bmUvKyuVxi
20Jp5PLobPoNp+bfdnn/2FVvnL7ifXeMlXtDW89tGz+zPZ6KTRXHhs68Y/7wO68o7QZczXGq7wJC
uB2QBnOXlU55CB+rEdHI5i6d0Ol0QD86QT86uE0H9KMD+tEB/ejqrLwmKcgXxim0zNXVNSvsMZnD
iSBGicBENay7i6fec2Lxsyffe3X/2dDcrXsnD0xdM5cgN8699dTghejQqbfPFU7tzsnR9Nwp1B/g
a8hP6WrE0SWKCS2PAkBvhhhXBw6jY1WexvV2uW69HZVZ5l3rMIpIBDDmxR8T+WnlCZKp/DkpVs6e
/KuT/3TyQpSP4jEYRYc0z6hN5tSGGtSakqVekLRXBUm7saa/Ud3FVDAVSqESeazygdP/8R/y6+CV
pHTynyRO5c9S2/BPlhBf3C7UMSrXAZXrgMp1QOU6oHKdoHIdULmujsp5MELHKgYX6lJynUKIplC7
oPt2oPt2eDnaTWh/tQu6bwe6b6d07zQi5jndm4HuzYLuzUD3ZqB7M9C9GejezNTwoK2gV9ak/DFZ
frbymfPa+MDW2MAVs8nE9ivKE1fmRktvODr3a2eGJ86+bcvUbcfLZNvJYH/Mltl1emD87I54ODbb
W+o/dffBg3ef6u87dgfDmHwTpZs3ofIo6L+tIXqEOYTauRasXRuXTaTfNG3UeGGJEkgHX+CiPmgT
bgX4W77pdOUjp0+Tk/IzlS+QKUD1UOWP2XilR+kaRWGljt7CvJXLF+Dpj55mqxVE8l18jsTgWSbp
VOPXWtb2n/NJgPKyWlCAGihADRSgBgpQAwWoBQWogQLUzBiGd1vV6OS0MSWBxE7n84aQyRG05Lf3
Oj4jJy98N1ciqmMaOVia5ri5jeLm1Erc1EcQ8QWZS8MA6vgS1/GDHTBrU+iXiXxb5YOk+MbKD06f
DpMI+QCZqvwlSQESMpHKpzmff5V6dwaX2GoaX09b00/avPCEUiRkIl+t/Mvpk/LrGEbguYoDntst
vYvN+UIUMPw4OH7Qdd1GFy6YmEA/bSdYCI6q5bAm9rh1uA50ahFY+Jq69RGADwCnGEWFxlJAb21O
bTMpjqOV/6g8e/C0rFH+If4DRQOqTeUBctWFqGzSmrpUICJLKp1Ze+EfOEbvgu+zSbdjFIAKUMui
ABrpT9iauIis52FOprW/SosntOt9VRee6GJcgHC32vO5aKzui4h812m5va3ydvgSrULeAEzyvMZk
UMsa+BKd2mxou/BjbrU4X1nh22CFT3GWQcrO33lqYOjMXbt33XnV8Nn07BX9/VfOpWNbTw2PXLU9
Tq6ff8eZocGr7tqz/+7Tg3DZgamzs7Hk3NWjI2d2JJM7rpK4jmKjK3wO6V04PzXqKE4jg72VS2eE
u0HA3QBwNwi4G+BTDQB3A8DdAHA3tKavLAGmhYy2GIXeItfpLVxzEUqrLTh2tPyd0+9I7xkJn907
fsPZrXvIz3L7RkIgPfyhkfm+8emLk1IdJbmlEtn9uNQPVFPmlNTfQEke8UUe+CKP+CIPfJEHvsgD
X+SBL/Jwr9oiDeHycF+nlnv7I1U/HdJaWtBaGi5OA62lgdbSQGtpQWtpoLV0a7S2SmwjqvoxQYAx
wF6M/inDtg0DrxgBxoAAYzz6yyDF+IgN1O2PIzbwBQAEel6QZx7IMy/IMw/kmQfyzAN55oE886v6
8GgoHwGDA9CkgR2N3aFem1zzxxLWtHPGGjOXRs7mEiZ3x6TeW1iHeLvtBodmL+nSFt55cMt1EXPU
NOgNW+tJmVHyIaBkI+D7C+jPWaKhLF2UsOxGFnyG68YEzqnpV+NZPWDTUD2jNqInSdWiJ6mFFeSm
KR35C51mjL/w3USy1i2R0omLAMEL081EFE76oLMfqvx7Ym6oJzCyv/Cj0yQWmZ259dXhIkxyfYHB
nen07uEeYIKDlU/JmuG5nzt6EkxzJX8HXFAgbWy9qsR5oIjcvYw8j5KdU6uWhglGMVQQtq2wcWrV
ArVqqSiTqCjjMAoBjEICRiGAUQhgFAIYhQBGIcovKEHS8J50ds14wiyeyDJ4WY0IKU6KOiBFnSBF
HZCiDkhRB6SoA1LU0cdnjbi4yBkhCowQBYqPAiNEgRGighGiwAjR2pJBr8IWAep1XodPsVnVfAGR
6U9/58uP+nuGUs6xVO9ET3/qVDm/u+wNj8zFujNB65YBSyIeMQwWrh3o3Tsa/lLvdCFiMHmDSV8y
aXPu8wU8hS3x4o5S3Nrl8kccxT6N3qrblQy4SzupP1Yii9QnsoXZUypuT22k+Tb4nZVlNH2Y77WA
5LJYue59p8F4OXnhrfLrUOfZCrbLm+BNTun1TCcwrKoTrPnepiXFmhzajIkCQ0S1gM9juMvtjDed
ChSnw+Hpgu+q5Ny58dFzO9PESv64MlTakbXZemdLuD9zzVwsMXctj0qRj1C7un/Nlb8mQ5TzKA8r
UvQEtRMlRArykYVFWaWSn7iCkDHQSX6iMZs1soFam2HQFm+hK75HWn+TGU+Y605wcq9JAy+e8DaN
pbrDdT9UApVbrrgTR/eeqfcrbSr5DVd+cer9qjZV23tnQAn0d9hs7eRvKz1au01Lvges/w9dToe+
gmE7UgCg9B6K9W1ravIbCy6Oe6bVKZaQho4xS0IWpVAek8s+2U/k91S+d8s9Wr2h/Z23f//CrR/R
GDsI6TCoP0reTg58S+9y6r5debjyhv/UuoyEGJ0dP0ORx61CvTTDolWFnto6nOsVzjooWoAH5Jtu
/oyqvV35zK0/B1us8m9qo7GNmCq3VX6H7JdYHJo8C2+3SINrvo9rvCvWjtnU3lVdRe7rBw1dQ8DQ
6FHnc/1lebaikIF2XUdb5c1yrvIejb5dJT9zJenSXPiNK0mHmlogNP4S+X47ixRUVyMF1XQJSQWv
kZalVVbgGgIGjWgAoYOnrRRCx4WJWM6de/Kxo/J3jj5/y+rRduvaruhUJbdWfrZANNSARft1l/RD
OtY9K21htHCU5zdYMesQIQdS1aok1TE7TCEQVyHbD588d+4x5Z6jFyJHqcVMbiJ/BG9Ug3zE0bFo
yYanovNTmE0E+KbgJuSPPrbw0XPnroHbz1XeT7SVn+LTpItvIM9d/NKqsY10neq5StebpqbgfEwm
0qeoJRxlfiU19ytJqKs20UgubwnpFS8pwDTyKbrmds4qP4MRtt0Ya4vaJ9r+D5BHgM/TCJ1Mlq2r
eKt5Gl6eZGLI4qpLbbUWz/uWmSMzLuJG4jRGKgpbP2xbaXgBnZfjMC/H67RIbn5q1mbp+oAQAw23
wxEZjGwJczMLWi6qCfBFlBDI/xDI/xDI/xDInJCQ/yGQ/yGqg3rgtSFu7Bajq65vlG0l4ZTqHybk
gdOH6ZJFsLgzGx7L7R8JWWLDsbmy3tntNBp8TsPevW6Smx7ERYhtDl/UGhuI4CJE0ndOq9Moar3N
EA8hNkYAG09R73+c2HAtW0gcP1/vslXxwoKSkLq7ljGAsZNq9a2tCazpB+VsrFllPuInjHjCWFtZ
DAtEhAERYYGIMCAiDIgIAyLCgIgwXYiAuVYKUyXSSEMEOEpcgBIXoMQFKHEBSlwCJS5AiYuiRAev
dFVzcnBNEh00Jab/NBqd5Cl3fiYeGbUuLBiHU/GZvPsKvTvudsQ8BoMn1g27um/1zg8GejzkugvR
PkcsMrYv4cmHbY5ozunMhu22MEaghwAXnwfOiOCKAeaTebjmQykdl+NQkdMApWuA0jWC0jVA6Zo6
SncgwBx1IA3iiaBYMSAtrxg4NkX2YsUgKqCCSUwrUko+P+kcjvRPGXxJtz3ksbdv6Qxmh8K5XWWf
u7yv39Ofix8tesNbpxy9YUen2a4tGns8lvDonlTvnpEeoyeC9Iow+gydoWLEsQQKiFi79a3qyTEv
M9lqFfJiQw8HuzdxfiNtcx1BUm+ftglR0JJ/g7nXQtUQIafA1oaeFBZ44hQeM1O03gq1lRsJ9jML
vdsT03m3Oz+dSA0b2w2euNMZc+v17pjLCWQLysFvDASH53szoMCHHL3fdOUjQKU5lysXsduBWhkm
ngJqdUs90m+uXEWX1gJV/aqdpzrreH7h686Ci5vWl2PlEIYa2MlTvvKubHb3oB8/eupEbMg7mndn
Amby/fPto4n48FcLB0dDwaH53tL+QX+6Z8TusQTSzu2heAznUwt8yY/l7wImPsJ0F3NVdzHT5RzU
XTCRsiOLZ8DCXmZOHZE02V3Va5ocik1Ln01xNzzBqHaCS4A6gwgXvnAetS/TCBmYRMr99nyJGXle
EqIW0o8nLYYOi96ut0Z9lpGRBbL9yGK3VZZV+xXS1R3u/u6RyuNkO+PCafIZwD1IW2JdAgtVzBrZ
VbnQwrkwIrgwC1jMAhdmgQuzwIVZwYVZ4MJslQuH1o414r5izSrTxBKyDaAdR+Dk2mNRkEoRSKUo
SKUIpFIEUikCqRSBVIrVuO5iddJICqJMAkSTQJRJIMokEGVSEGUSiDJJWdACA0iySQM0uBXrpeWG
OGulmSNh6hAsGRmxWQJJu6M/lA0cyiRnB4OHGzlURR7MOsIwkWRwZvF4J+1+m7bTsdVtt2RmieLK
hYFPkV/DdkcEZxdQvsjD1AP+MRZ13cljNhnGrFWMaWmy75r02AT5dTzewnHEgW8C4JsE8E0AfBMA
3wTANwHwTRT4HfBok1CF6iZe6pXwEvKwIzEQiI0aFxaGYr5eYgCtxxpx4rT6vaHhRO8FqtPAaB6Q
b6aRWbsa6bEWT7amlKrFsbG1x5puTIPLYDwPLCwskIu33FIh5KHK5fDOiz8Bi4C90yHNrswfQ6uF
6ZAy1Z7omzGQ2ZJtGsFaL0RqUVfXr/D1Gm2nqrPLajSarKmQAwdz4SvkryuBzq42mRB5n4po3RmJ
4/2rtbUsZdW1rCYfKzeJNa2vZbUxrIFEZRgrO8hXP/97b/nYwkLmTT/97Q+Tpy9E74n9Lh8RwKq6
kqhsfiXxgQWxkogmxUdBEsXJ4SWQugrwID4LZazn/KQifQPnGeTTBdi5kbmwFUANP/srsPNGcdZI
z7Lg8selGLs9Jm6Pwe0xcXtM3B6D22Pi9hi9Hb7o+UUAt4fHgZq5DYPUl6xKNO4NWUeicRfDOihY
x4GCLgOuPyDnOYHznILznMB5ThqYPQDbdqpM4ID1VH9YBE5kexiAU+VDsElQoKk1pSo72nCHLpHb
TPJHDT3lhDESDnZZR/uCw+aFhWI0kFrQO3ssgQSx+AeS3e0Gp9Ef9Drilcv/M14KRys//S9Lj1OP
O5xOfxswSeVTOy5hrliBrMkntu4orUwDaeLedcBW78FQbVI+oeJsqjPVBDwoGEA+/fah6fAY2AFa
R8SdiBLD7vmAr69y+fctiR57PnqB601fh++0gMb3MwBxFuMqmec53LSOp2xqHc8j5lcPzK8emF89
ML96YH71iPnVA/Orp3ltRbPGOh7Z1DpeUMAxCHAMCjgGaQJ1HLYB2LajIdKkjwmTitsOdvJ1/+B8
Pr+73xsY2N2bA7XsCr03EygNG7xJd3nir5K7h0Lh0d3Jwr5hf2hsP9pS1u3j7mzIupXatLuoZoo2
bTuzabVr2LTaBptWuzmbtjO70q7VrG0lvFzM2NJGZiyYAwsL1tGIMGOdTmrGMu3j62gPhB3ZC7/z
fbcPVOU+bg84uX1A6XsX1Q0R+tpGj8LauqFN0K4faNcPtOsH2vUD7foF7fqBdv1V3ZBJ0uwl6IdM
KdkM/HHOvDT4W6rwb2vWCC3r64Cj1iaz7DF5f53S53N/n7ylUdHjkvQEYMAovRmDy0R+HSvmIq0F
IB44olklwQ5tFLRBSIuLT4tUz9AxPyR+dN2k4SAnQGGbziwsFOJ6r4ncYzSMgYD885Hpji7Mkbz4
U7Idxp6WDjJe9Ys8u5YzvZpm1jieiDPtga1ykdVWuYiNBQlp7NRbsd0RSlk9MZ/J3OeIBbf5vH0R
e3ckY3WHeqymsis7edBfitlu9WWCTq3eYbJ26YxzDr05kOoOpPx2rd5lt5jMtm0la08vzVH9b+nn
8ikY9ruXQDcWGcNdRhamyizELprmzr3G3FrU0RiU+pwHPn1tRlGoNwi1NH4ODUJMqDPBDO8o5dQ0
uLpQTa9nJPpznSrgnptbGBy0xwfDiq7tGLEFv3DkK1858qXesk+LfuMyzGYfIw8B+/7myu9ajdet
y2vac9xmWOcbTHjCJBbXSIuLa5gAZqIhxdQvUo0jxzgcyoTkYwtg2zpj8YXdc/FRE3mITtXF0IXK
T3bPh119MEot9Vg/BGKscV1N07gKo1ljXa22PEQeuOoyRaVSjp17kjz0pNqgVz9VOSCxt8g3Un/K
ldJaD216LQdKky+gBjY3nnAzNd2MZUgYV1ZHVBsZixj3E/nGqw4oarVy9VlVW5t88MwTNyttbcqv
kIe+2G7Qa/7v/23X6du+WjnwHxq9XvMfdOTw1+cAPo6mFbUmcGhaXFFDK0IMzKEpiKGRzz1w+02l
to4OVf+td/zGrfva2jva9v/DE3vUJqN679IPXge/mtdhIAPMQQ/CiDxSoQWMYdkowkPcjMaVi2bo
dK/aXWXy4FWXyW0q+fjV71ZrjW6H1qa1+Mz+tM+qAUPwJxqLtY0YK0eM/m59m+qQWjF5ozaEEGbr
4Hia19U066yrkeq6GmHragW2rqYESyG2rkYerDzwKbVWo3yb3PZFdWe7Qh46QtRtlS8fIe24wBQH
ODjkZ6Uk6JpstrRnl9BvxkviBIyo9welAJuiSr00Y5AmDoryJcAvNpqAAfOTw+ExqRW91+Xy6hW1
yePonwrrZB0ew0946rERU6R3MByYGMzodJnBiUB4sDdiGjH1Te0vBAbTrp2u9JC/sH+qj6/3SZ+g
VmC02QpcrYKLAwy/T5x4TLnn+Vvw/gR8W3f121ATCzbUDmHhSIRncdGJlpZGUarpkGDU2NjHkm7+
Df12b/03eu38G/8TBj8YwMGb1vlK/1DaRaupuMjXyFfAFAvyr0GVHhe0nFlm4htruWEh6jWPsalI
U6D+SAcPtPjaSdlgNAatlpI3nHF1qfDQ5HKZ+709GbeOfMmXsxn1XmdmNOTNmaww6swoekBELTw0
onaslVG3Ti281TL5hDNCCSmmB89hQTz5uhtuuPBeEiOOyj9VnmZ+wc+Sz5MfA4XFpDuWQHtSaJ48
Wja4piaqVRj4KLDmhHuZHXv5cXC5tWzMReofNrAsXg+FLp7y0FNsLUJjaqqkhhXUCJv/y+Tzk0DZ
gZR+S4cv1ucrJ6ezLkdmS6ZcPPzleDaTPFp0hdpIuzpsLur9bquyZUtbfHg2npwdiqq3zLQNubTT
g6ntnTSPB2R3Qf6hdEK6hpx+XLoWkJyoZkUnuAcIyeBa2C8sY478Ii0xx7LgW4+/XKQF6XxUFx2E
5wzCc4b5cwQ2exF5vXXY3Isn9taJ2qN44mitdMKZauk/CxVWLOSQ+VHtVT/qUeNmwq4xV3czSx/s
Hf3LLPpsgPvHhzlVjHKtaBv8bssCekOipkF/qRiNgeLSS+jfilCmNYX+anErB6g09C+q42lWquGs
JkIbX7qi0WT5E7LWYm6328wqfZvy+ne1dao/9kcGr0NnC/e6glmfTj6reEcO95cOjQZT7pNvMeoe
WtS0ybJzIODqDVmtPenuzKy70x+KmLMDXnXl04aEVe/v67DZjI8CKZlg2lIiCb2rK6e1arO2SCzp
9CQ9OrMvbu+dLXn8/XOp/Fwsa7Hl9F6DxqTp1HXZQ6B8dne5u9vNBm1kYHJMb9KavG3toAld/AMQ
cl/ebPWgLy9Ujla9aG1AxFfS6O/fxcp8Ivq727hIk0K6eSwk00rbeDHIbr5O302tuDXf3BSQXpvo
l2DyITwSsdOIa56kWkMT36zncaOoF6Oy2slX9Np5tLnGyFY0SKgT9BequLLaUKjI4iZfecsfLN3y
89+C/07jX/Izlb8mPZXbZrIjuVtvzY1kZ+DrL/4bzCQu+btAzb/Gst8sfFkKLW8LjWdFawjjSlFL
p2uDmCLryLb8zU2aHM/ioicwz6eTzvYoBH3L3GjSywZQ0wqgi2jU0TxfNyhbCmXM7cPlG+LS2/TW
WNAuW0baR4KyzdBh0ejteks8YJfDk+2TRnpKfrq6fHNn/XIOeYAv7zDJvUt+E9bQkWbRZzIFUGCr
z1OAlyIchehR0dhadOMi3WerKIPZ1qplshxAKgenQOxMgRycAnE3BXJwSsjBKZCDUzxu1yNNsWjV
LPqhVdV6e1wnplE2GKyTpSOPoh1lRA2LSyQtSCStkEhaoHotVpYAAGhBImm5kwr0z2Zj0e7QE1oy
r2YyMiFSKvJIXxZHWXb4FPlNY3Pne2L9U7uuC+cL79hdOjASMJuyQ/zs9pvCeef41tlQ/8Fhfzg3
dC4W+jtvxNbOf/575rj3oL7H5fLE7HOhhCE8lPL2WQJX5uvPmzzWTvyX4Vjgylxm3HG00+HymsUO
rk7C7DRHI10zLLfDXU3zEvMS7mPApML3sehaW5Zl4mHMjY/vB5Yxp5Pth6o8z6tcNkWxaxqtkNVs
clwwFTqbQpP/0HFGnmcBVPZNRr2qjYKL2NMCvHpczzKmSWAwLZ/AsjCBZYGjszCBZWECy4oJLAsT
WJaGZVpAhESxfi0rmiQIAGvYqulsotStJP/Zt8/L8vmnVfZof9idCLo6Dwdu2Dd8bDKmPriPkH0H
NZmZw7l9N4aO2SeKwWLEQWI5qzWbmh8NG90Re3p2V3b/LdNZqzW369ad0fndyexQaHgXyuY+mUjv
phk/0VXrCq9a6dBReLeoG4zcHZEJGaZrQA5p/xL6P/kKtc24MqoLiyWZqY3I47ssa8o4brGzsoDV
oK9YdY8M8/ivu5vjwPQrI8KkJNlKrqf5ghb+VdSzmsUx8AoMGpuG/ZCt27bdq9u27Z7kmdGR07fP
3cF+4Ov9YAs8Qp/TWa3kgNX+6G2P1O5AqCbhz+PVa1ndBXotVlt4/N5t2x6eu/30yOgZiS4pSeQj
MD8oVJ//LxabY1+11jMjWBariHMkFmVEfca1zHKk3HzWEkWSfVwXD/Dj0Pk16xXVxNpaLuamwJ/6
SabBGcBP+PCEr3mpk/moVZQNMRbexYovAg7WiB3ARUrykYUDDSEEz9Fl0t9fLY4ANrZ2WoWvE+D7
zMr4CRZX4uFxJa1HU7Cr/edbj6rgoLnUMIuGCMJNxV0g7H7cDLjtq0NN6GxYn/LDa9anDNrIhyv3
foLWGHHC3O6h3L9nwxqcHc1VPzcoyAmDZ58he7658M1vLpDXHyGqyvNHLnxDzkt1b7dIr11ZJZ1V
e8PZpov/Gjl3mHEkpmxTbfONC5UrPCeRcB1VojoqLfeGCiEbq6063m/iiOGvk0eeZIN+8kjlx8SE
0CV90v3kofVreq5efeb+c6SPVoh3w5e/Db7cDDz4IFpTKu6Jd/JK5f5qpXJSrVuOb/DT0VNNyElL
ykVh64dtq1h6Owg7V/GlN7wjKFZD9NlVYo2tVS3bymONjZQyUfr4l3FtIsgNomGaVmaqpj8PE/lt
lf81dPlMJD51KHv9iQOfPRYcTHY7UiPhA48p90SmjhVzh6ailUNK8fmvyYojMdgTLMftiPc9pAt0
p38GvKOENdRVp10RFNgLVo/DEfeZxS+5vf4Ifqn3/H3SA9IN8CTvqhV/SVV+iyK/D4giv721Gr8y
Podk6HMcmD+rq1a60BlXPhfrQuqp64g/XZdlKaHmLKv+yt4Sq+6RjHjhe5rf3F0/BjfMxfnaXNzi
GNi7N8iMrnYQaBpdvml0dcWP64YHL4eZkeyvm43lLJMKagoFOhvjHBljP2Q/zJW62nx5B582Fdqn
wEKr4mrgW59keoa2WpVAfR7I+MfwlovUXUBDLNTSjeLg12HnIXogplOZ3SDDDbK4QYYbZHGDDDfI
9AY2Q+hWqb27Wv27xrWuWgEGlE8o7VARRemixXAIXCHhm2w5exj+3ED/k+A7+y4+p/y/+pr40tXS
7fIAq32vrda+l6q177EuPgYN9dOjm+EoDUdn6VEajk5Wa+af5DXzD2y+Zv5ZsLzOCsvrLEiNs2B5
nQWb6yxYXmd5zfyzUlrUHJqFp87CU2fhqbPw1Fnx1Fl46my1Zv5syzXz6VUH4KoD4qoDcNUBuOoA
XHUArjqAV+G7b4ZH3wzvvhnefTO8+2bx7pvh3TdTeXfHi1N/n58YxhPDtYL8p+oK8rPf/DILT91S
LR8yL2zIeTBI5oVBMg/4mQeDZB4MknkwSOarxfmPiuWqo0AXR+H1WPMPawceFUbHUTA6jtKvux7e
dgre+prl1gr1b7Zwf1uLhfyVnU2F/L+4cWl/+bcaz1S+eCnF/hObLv5vaWwGgPPvc+ST3C/2FJZb
ZZaPwi0fkKPLTLhHq1YuSlEeh7Bh7RKmbYiqpLpq1uiaXvX6IpK1PMWQcTPrmUy+W6q1ebAyWinE
6qQxhyaJnfuXVcujsdJp1Gn/96sXSAvR6mkw5o+QZ8mC/Maqbinq09D1iljIQRZOXH6CPHvfffBv
H4VrL1/r2pCmQC6//AT8+32oE1wN194D16Jew0DPMplWJC7F4Kayg9xz9ZGrT5RK+Jb9++He0+Rf
yK/Lpy9hTcW2ck3l12dJe2eXo0sfN7l6rO30yK7Tx8zOoK1DvtLh6GrvsJgDaWd1j779WXh7dlVt
GzNMya9X/oI8OzWFX3mG/CO5V74drgxxiBhqheipEx0FCatOzGxn6skO4fj6yb3bidbitmC7FbJd
vXd0dK98u97r0OsdHsP2ObRzvwZjictYqM7d4BGoGXGMTkj8OHn2Rpwj74B7XkPv0aDmUx8HuuYz
mPqsWhZqP3smTnzkNZfNXIZPps++i/yQXCs/CbOeX3o/8w8FeURb4AVGtLkEN7qAG13AjS7gRhdw
o0twowu4EWNtYNyOaiFOh5El2Hn5J65WN0JN/f3o2SPXmn2J7u4Eapvsd9jvcPhxkw/Xn8Zfdt6P
eL7z4i5yElQ0N63diN5gVXaRFUth66nFKLY9osUM7VVPISPCk9lYZmrC1qHr1Lu69daw0W3L+kF0
Wa/y+AZ32xW5S2/Qd3QF9OYOiw9gfAjw9yHKZRr4Kla/R14RYMyCmhnPIQuRD1124rICbMB791Hu
u+PiHNkPhoAdO1xoqqtxm8gvstG+EPBltUyfcgidoQhUst9t9lr13e2WoHOqlLMGE7aR90W6Okx2
rcPlM7kGPFa/DR3+V8G33F2VAiKXsS3LFhskEaAAcqZA7gYRsHD1EfmN+/ffx61e+cg6Vq985MJf
otWLFCwpD4H0N4D99UZm9xprGaV8XUnfSoWupogOrLwv80gXk3GTBbywPp/NFLIoD1XreB2qeG96
8B8/+Ulezgur85FOVBLHiZ7cCPqkS/IBe/zz41KSZ0u6quzpol/BDL9kXf1OiXubrNwh6uL1/a31
eRgRwHkEcB4BnEcA5xGB8wjgPNKcPdkhEnfc1fqAPdXQiR7aX4fgymeK1c5R8YUNqit1gq7UKXSl
TtCVOkFX6gRdqRN0pU6qhWKcaQ8ve8qCaznvcL87pkE6AMllTn2YCXnj/FbPFofLng9EvH3RqZxn
dHwkvbOy/PeOHld3emIKJPO/92e6dIPa9m6f0Z/x9U71dL95aupbxk5bd8DDs3fI3wKl6FgFt9U9
FGt2Wmusr7RI9XINjaTu4nuMAMoxjIzXOMom8reVf1kKv//0oUj+5I927hsl2conQ/uslb/G9kTV
6ixRqY/4VtZTR2GMjs1CHdZxRcycZQHfAbGCEgDMBuAJAcBsADAbEJgNAGYD1XoVMVGvIgbyOCbk
cYxG+yZowe8YyOPYehVrmhin3i3WQamNu+8jQAERQQERoIAIUEAEKCACFMDqoDpohRjuok/DU9Lw
8jQoQ2lQhtJCGUqDMpTmrayiMQBrbWUGoMsTbIjoX2ThmTfERxRnJrm3sCd323YsuZKI7i3s7nv9
dqwS9GeVNzjcWGTl1KexXlD+aIS8zeUl129/Q35vbk80iRVXttyW25vbncoOnbmL5Cuv79mXxSor
lWexfFBPgLwtdJhX11EdA/x5pBzZC9ZDlsVgeqvyQeZ2hZgX8zwK1pLFYBwLr7ji5fzrzrKeUDGB
2RhNjcNiHv2wbRU1bQ7CzlUUhWt6kJsw1Y0nuutE3GaqEi5SJtZTOnfzPTRMsQwwR2AP8jOMqQcQ
2AMI7BEI7AEE9lAi1AuEI4GkgUDSgkDS8Mw0EEgaCCQNBJIWHUTEn43CaVXHaoUS++6qFtmZv6sg
N5aEooJ3oTAg6uqMFE+Tm5qqQinSNMjjD3D7PiT943rR+0wSa7l3GsHXLXSfbuC1bsFr3TQdI0F7
e3UDr3XXVeVSLrkqF1o6hOdM2KgXXahGbuPmg/UblScTKrz1CtQHnJmJWGws7XBmxiPR8Yyz8imi
yRSS2Wwq0yeP9IxmPd7ceDAxlXV6+qYq/zU1RRKZ0cFCcnQAoOq7+Jz8HfKIVJCGpK3kMEZ4sL6O
okgxWOkcjnaA7Ta+fuIBfglj9AslPLyqtMyq+Hjg+6YF9Dbs8CZtkIq+WiL1Kt38ilVdpMiT5S0C
xBYAsUWA2AIgtgCILQBiC4DYwvu64AfiBwV56Sl0HPQKu7AXCK4X3tQLnNQLnNQrOKkXOKmXcpKF
h80McPLD0Bkslz8BvxPZWgIAX8RcvYByrfAyT4xtE3kZ/QX5O97SXDY163LsHq4WH4jO5vYM+rH4
wPghv3d+cPREbMCFqbN+07f/on0oEe+vfNseSlr82R17WQ6tK+BmVQmSUXO4SEsjx3OpTLpnyOGx
9mS6Maf2unDeq/P6QkGRLUY98etni2nWyRZjK000zoWYqe/18IYrIesGctBwWqzOxvrKtPM92iCN
z/EFEzEHRhb2BfML5OYd3aRc+Uhwh7XyDNlFy11cfI48DTTfDXIwTfZjHQzW6SBTJ0XECiKi0X5+
EbQ+nWSvVlJrPduHrUqGhPxpIXojxd+0JoybmKUW1dMUr40D1/OikZsTPSxkIy64IA5cEAcuiNMO
GdtEsY9DsHOGFvvAgeurfoSqWoBagZ0HaBgITzJyUMqOle3k6UTOvTWJ2UaxTCLdP4/5RtGzj3Zh
slFmFhOPYq5HteQtiZzDiVlHewcyiVQqNLY/u7Vk+7QnjnlHb8EUJOvveBC3IdDg2gG3yK5jZO5x
aRzkWQz+gUWixGhcUZZWnWNF15kPCTtNirNYvT+xzCo8GmmvEI7rMk2KxzJe/bBtpe1BKK7LgOvy
pqRZU0fg2urwEsKcS7M4nzDSAmsbztIsYSlNP8S9qQ46CAI3T7UpLjO1N01b6MLWJMMaBReGajfJ
LZpPprR7SzvSxcNuz4F+kVVWPOh2HSqBvCrrPYFYd3lSyKtv1aeaUZmVjEaTIt0sFY+CrBrsNOs1
24ooqxbqk89QXgFn/yHoCH1kjnVo01ftRMxqdNbXUncCJzoFJzrpnwSNjHICJ7K0TOwXwCqiR7Kt
dRNA2afQWup6XoExxffWrMvXVFExjSfSdSd4UGkbKzLUK3VWS/NZBV1YgS6sgi6sgEkr0IUV6MIK
dMFcOr2b5mb2prq67WgW2rB2an9dIzNeoS4as7HcnT80BXp9/eWFy04cP5lPOsMOrb0nbmm3ZeOu
bFzv1fmD8amM8wvBmZE+g/ngwNzx609e+IHcMzhqdPeYPSmvYaotWNyWGii2aY50+fpnuV5P/k55
GLUUUsJ1AyRJpvkN/9IrBi6CuiHRQiGLtHwmwzOm82oZnouiqOdLXFdwkVZ4KNZw2FqFQYW7fzZV
aHAv8xVtpt6g4qB+JZnmnc3KbwRQFqSrLyHzDKfvXHbjDLRFgEactvfYRC6ahUOjtZQ0mYGhpcw0
Ocq/n9adUz4IgsIsHW+qPGfIXkL1uUWg8i4ajo8p5V08ML+hIh18WqG+Kt1RXCxoqEwnz94HI6Q5
PTIm6wekSYk1ptlcZs8iIEuSvE3DWJnjgyNaJ8/nVTDANXN95D+9r652sBFI5QHW3wDTxmteJTev
Hazhup60qeqq7D7b2h6pmo6KZqDMEWnjjko7t+lFHWGamrlKJeHXnF5ZSvgmLCV854Xo+6ulhHmm
Na8e1v4LrR7WmGnd8fLPtN64YNiQY4OCYUEvue75W36wesEwFiAvz8KcZIFBzG0Ylb5+5Ua2qG9l
3LFKDUcuhFYr5VjhTvq6io5KGQUL61OFXLveCFvNgWsYYVM2nBCTjUlxv8uGV58bJ3uo3FMA+ZJy
gnYj1YPs/9kSWpd8ZUw2YuSUgp43HjklG4VupeUNutAJpqZDQgoQ54z8XGueVVRz1LzWMb6l93zr
dUlr9ZP5iRSeSIkySDIPMXMaccg6rrWlaKlyGtpJvXWYXWgBQ1lPNLYxUqZRBphjUOvTW23HZSDB
N+8bMaVDtky7PHq0ojsqv/vOE1adJToUjQ9HLQdIMNrRbdN3uX6PDJEC+bjX33ZYMWlvvxDdf4Mr
bfX1J7td6bLHm1QbXdbOqO9rAG7EwSjHAU6u/96IBWc13ta5JhbsvHiJwAK71rQs4m/RSanm1/j5
Hrsm+ELgXXN2s7nGUJ1ravA28AIwxupA2L/gQHRcv22EP2Zia2guS4y2cqpBfZJC/frClZ/54r59
566Q1SvBfGjuucrkoUNz71B1oDUyQArSX8hPw2gmVkK1EYb1WZc1OOC/izYVdUOsjqbu3dgUdwSe
eb/897Sg1rS0g8BcNQuz33Q13mnaiBFQWFgGfadsDK1FMuHCapjruSV42jQrUFPn9JrmTq8J+J0B
MG/BQdDrd/A9gecSfl9pPTyX8US5Ds+TeGKS4XkI4DpIP2fIyIKGfDxoCM18IuWqZr4C/+K9JEtp
ED5ifBnfID6mzGlmBzw/xnumNfR2Flxabe1cn5xCViMr8pqYw+rrCgymfYWos21U2xuwOg3qmLu3
V++26xMZX9GS0zpDuUDfRERPPkJp71fqaO8PQzlNe9Rj7Y06TS6fLmoKdBpMapd7q7rLZrDFTfrh
dqO+w5fJk2wTbY6QLHkNpZbfYtpCWGjcYZCZYSEzw8D/YZCZYQB6GD5f1OQIr2HTrkTCSgRdOko2
De7NQbZlOFK4FcjtADev9F4WydHNwxxaXV1YLS6eLaZ766rA4SQhFITWXdmoWq85d5Db77zMZrDE
YLIYijVMFm+/3pmD+SHe7U6X3XXzg1yXKa6R+pgPWFqRzSzR8BQeJdsgwZjcsoAuNncC/yML5PYL
/1p5GzwmQtRAwdfxWAKlGvWiYOE10Hsi5G8qfqI+w/JFbiP/R3bRBTqWGYMxsYTGLuTyZQf8wYXI
mMaRnHrXvVP3wv/3TN3zB9P33jt97z3T98D/onrp1+VnwZwvkFBz1wHMEnFl0fGitNgjQ/iIsbaD
q64bblj4ejfkpPqYf+4R1KzSaw7Xsv00MYgVYM4LgtiwKQYOzSbl6Z1+0RIXleoEzJsJqg2VYdsm
Wn4fgp0ztFcu615Pl3excQZd2nWs7MXVWDZqcGAgsN05GIxnYieD17iiGmsuIBx+g3uL3SvKSP3F
FX94wDHj9RbtsWQhOpNK7Y+YLcLPl5icD6/w7Kmq3RqRDg3wpZ9YL46KaYGEW79qEcfdYu+uJitn
RYDyetEoK1rvLlezNGwYt9zR1B1y6LLK318mh5p6RF6LoV0X3tfYK5JCQHkrUGUPKJkV9EQx14fq
PGpBnOYcQHMOQXMOGtWBuB6EbQfqSidqkZfpahwD1q3jVO+F53uB6r1A9V6geq+gei9QvZdSPevK
xKJMRMSLqq7XPPbCdVDYh0Gp9NbBnuforBPnw703vLumqCTaYcR6BjJfUw3TXpt1Ys5qdzDQ1i2L
WuqacP6nt0dEkYW9lZ8hrO8XQWZuDvRP60s9IswsVNJf2P+jHykWHm9WCTAcYN+SXbSv5Ij0p5fY
VzKf3bi3JD8xhCeGXtJmk45VA+jQEQzQXbMNZenozWOZVcLrsjHnkTtX7U65561XDGv6GyLvrB5f
oG0n8+mQn4Kl3Qmcf/WqfR67si9Gr8dFtOmlrmrMULXrI3ql6jo/kh2Xn7icx4spDwuv013KrwA+
C9IHL7HHGS6vB7IvRq8zjMaUgQ5ZNCYLsc4uo+d5rS5oyjoxuw0d0gbWjeBdpX2acsNqUb0qyX7x
OSUHvIQS3S1lib9RordX8+DbaYcG5XlW35N5lsxC4m3YHQtd5piTgrFk+fPSBqWd15kYmks71wQ9
C58KCjYNwnVBYNMgsGkQ2DQo2DQIbBpkyoMRnQWcTVPApinBpilg0xSwaQrYNAVsmmKqHZ9I2jbq
wpa77MKDlynKhr3Y2ERT2aghm1Lt1aPQD3uG9bBy8B5W683DKCOVuryj0PkXMAs3JbrXF1xtbD3E
UOKl2XYcJUYYMpaJNQJKjIASo0CJEVBirIb30xDrVXsCke9dNn4ZeX9zYyAOyE+u1R5IYX035Ddi
3w0pR/pYZNranTfyL7jzxqKUgWcziz0LYqneWttcN45ewCaz53qNL/veHHT9oJX+HClcSdioRwf5
vfteKtzZ6nAX//8H7hTMbWkFdzbMf9kQdz33UR9zPfYKZA/afethr/iicl6OY29R6qvxYG/2f1BX
HPwal9TLv0bs9fG91vmS5xW1gt5pnnvUCob370fbkOH4OONQqUgOYAiNWP+KG5EPRPxPL9iGXtjv
ZXG+3AtaTwP47dV/pxTQKt4LHNsYNf4EwEh5/tK5NvMScy2LhcvzMMa+5dYxLabQVlCdwUymjfFM
U52qvHya4nmWzDRiOYMFA+gRjj1tFLhN1/F3msavtoZRhv/e5Vps4M7zPNqgnL1kzI6+5Jgdhbdt
ha/amt3EvLpOTl8rmN61ntWwMQm8fzUTosr5T1KKmJB2kteuRhOTnCaotTAJ1sKksBYmwVqYBGth
EqyFSbAWJqnLzAu/mXXlQ/XfNyEfWDBfeZkRD5ZD2nbJEgIL487Sr+proKMlaYaG7eLRzMtSQ1sv
F7AVSoqumS+4MRm9c62EQkIrp2P/rzHpnZfY/6uQbSoFtBnYL4JpVeB+s2G+t25br3V9M+v0+7Jn
pjOre2dc+f1rNAFL7hiKqsvN/pmgZoDF3JKnQMfCblRR6dFL6EcVrvorsFjpy6o7FTUpNupQ5QZz
Yu0uVWTPfU1QemIllFinbnedpv8/FV5YNHpDeKVAhV8bXv/7vhq8bqPwSkhfb4RXtAavcPbl1vMM
neAGGsyEAxV7cb63IQzLXF3eCIx9TFVeG5KfpyqyisPyOKe9JEZ51EOTVQuOcIJCqR7hQ05wKGM0
PLOC2Lp/+nzLdBp6SegUazs8LsWW2XDjyxvDXCiuGwHdBUrrOrTL8/KH4Ev/k+eMT246dwadajIv
WIUZ9JhJg4LogYUlFgJJizrIF/8GLv/Qi/sWsMIfWLgSTWx4Cy0zAe95Gm64SN+jlRYa19o6MFSM
cWJbduO31jpWYUcfsddR7WLFR4EM8MDCV7gxyMeC9p5y8V/h2n/k9RQ6pdtXehlX+iMxUUjLl07l
bM1/XF+haEMIqapNu0SiEivHy8fKCeeBhUfQnKEjZRaLzPoqgcWC6wJ/0mJnpRXrAC+ow1LjOsCl
9ltqXEFYpffSugbCyr5MI+uaAo1Nm1avCaLw1fw30k5OMRLEMG+WsYPr+fFfWi8nFjXIIqrYnCS1
OodHADcsvDFi3GzH0Re75xNVctbv+9QGgme93k/k5vukJry4Xyq84NqzlnvhECsehpVI9qXtvYXD
MkiRVXSARoxQNWp9jEyAkF4PI9+7rw4jr6YYSRIMQc2y2AHESOqXihGJR+vGOEaYfiG93HCDAxR7
iRbxJVS29VHmYtPZelj7S+HVZHg7zjhJSpFOVKDEPIfVPyLYvoMLEOGniFRjMlrFSpLjAuubYIBQ
zSexofQK/5Kkl9Dh2LsSyxviQqhy6yNDBdP1uvwj/I4ME6cpJiaJ/3FpCiNeOQdN/TL7BoazdesH
G+Kn+EvDT5G3iRjNbjzTrKMorI8v/3qKw7pT04HVdAiZ9c+CuQrTXv6klQ5amAQh87gyTM8j62Vp
b6arFtPUnFVNzWR8Ufts0el9Za+tHmpHNPTbopXiVsLlqVbgwn5ZjQgGma7/KZDBRceGLmTU9mmA
DDWE6iHjkf5msxTj5HBhSQicdhzZl64rGw7OxF2Ozuqem++tDTE60a0E2pSw01aBG0xnCofccUpT
XvQ/rISdoxpJ7aA2WzcdQr3NJuDp4VDEGiSYMa/wcn7+8y8ivdlfML01lp5fC5piqloJzgS1JJtg
yX0LPnIDuZ9WwolJf/riatgvrO6Ns5qE4+SFC1rvQbRamcCGxL37fYWZWGxLwestbInFZgq+vSZv
zG6PeU3iV07i6frL6v8VfkGvylx8TvFz6A1I0+T2Jfxqrlf5gBbH4IhNnWN87XiwumYnVW12ydga
XFvtLRWv2itCJ8b3Y1emRaC2ut64G/ZyWbNaWL1+gBVzxnjFnCVppFo6buQStYXWEb1IQ85HeBbN
BrFsMbqkgamypkIJA3xpliz8g3/46rt2777r6mHx21848qrp6VcdKYjfO3+zOxOyWsJ9vvsmH7Fn
Qlt3G90WLbm+/ib43TX9qsOFwuHqvZUfPW7p6XWh4lCZffJJUg7H7+2ydCPi6ylnBxltpJs8HE3R
o/wvkFLoVXm4Kg9X5eGqPFyVF1fl4ar8qty5Cg1gbdVt1XLXo3DESmGP/sJpYGPMa9YOSgbB2QL6
39vrmQo4SylPd7wcCJcdWdfOkeyeoUBkdFd86OiGZLAc97ttyYlUcDDp6HYkA5HwyHx64PCIn+b+
BkhYUeRnYFKxSh9nmaomnqnKvHxtK7x8nVVfKV7HivHYRdeA9avL14o/NlWWW6S5OIQXQRJ7nXyP
9QyuNZolJszQNRVMjkLZhIGOtNeAMvTQx8oTv959b2X+/x2eIGHy+W99qzJLti99qfI58rqhocpb
yet4l5Af0C4hBbINs7pEpAWm3dX3DNlMlxCM0HDTK0PLWKCZRWfklmuxJ14ae8LuKG2in0gYT4Tr
TvBaYZtpMNLUNSmDJzLrtSDJ44n86i1ImC6APlT8wAJLDFm9JUlorX8gP2hoVPJ7Dcerty1Z7Rxt
tCbJH+CddcrSMHnfEhhzCo8XDBpfrE47OSNmNeCVuBgTw1IdRlZgKM+rxgV570HC80lR0xvix6Ob
6MnDC310NOZjv6CuPRyntRODeGJwvb4+PMO1dmIATwy00uiHBRxik0oEUHmjxj9rU4opZJI/0NQR
qIle/nntFkHrtA1SqrQD8kAqk9esJxGWABSix0LpFyQf8LmDL6p8aMpS/oULDHqiiCeKv0AJgp2i
ftACVWxvnSRYTySsIS/Jz/AsAczUsUg/xg4rSrXDCm0jokjvQoMY1QdsyDLOWogo0vfpWUEaanah
WlyohgvV4kI1vbCtavm1c5mh5TLDyI/NfKHOtnbWQa1cSeNKXw36K9f82HFXXStOI19V41Xf61qU
0OMvfpx8cd+TH39yH+zJd+7bV3nPx+l/lR/u2/cK1F6B2itQewVqr0DtFagB1Fb6pvqlcbK/0ccw
Ake93FHDYp3L1VjnX5THgTmFcsv0mWV4Zlk8s0w9AlhDYBC2HbQgakueh95qkDI61YbhKE+Phl8G
noeYcDetqMvWgsfhw9ZIKXjX5H53LmybjienxpOpDd0MZk9f2FaZfdgWyQej8fdGX+GcV+TNK1B7
WUMNS/ujN+wZ+KhBaa16f1z88Vrlbdy1r6rrsaPEQpYC+cHpz+y/5uNjYEQ9/tuVr75iR71Cyb88
qImaMg/T7HirtE9azxPdtGjK6/PzWi0y93ljH3MTXGdmS8iNVW/KsRCWZGmoeZM+cfmJFfVuKix2
jY3vbjo+7LbACs+4L22MZhhjkI7RbFw5YuaDTC5jDNQqY14vZqX5W+7foEBG7SPJLavHtqIW6FQe
pFrgFow32oqdN/gK79amFV7VJld4Va2v8OLScl+2FY0uAeAcoOBMVHU4eZM6nNyiDve4NADvmFzG
yoAtrCGugz3FuWGVjNvXDVe+foPqGeRfV81cfEVevSLlf3lSnlXvPk6rd4el67FvnMLTcrBvnK/a
Dd1nlDZb1xtvl3kxBR8vphBcZvs9y+vW+hZfsHa973MsoWKNet9lEZ/J6qffRuun26W3svVYW3U9
1lhdncXSsJ3wL6zeb2cWF5Rq8a6bqa+OT5WrBWdZBreFl5m1LjdXWhdNq+uqre+Gj2ustk5+X3wT
m/k+yOvWnHmxZ2YMVBJ79nVnawz2ap7k3sXivVZMZ8+xyOX6el1m6W3N9boWAW5a2ppPYkuHL0bl
Luz2p6OfY6jumfheQzUvHsBWX9DrOPscUdPLyjONVtGPTC8GFixwnWl1iNOa/E3gfhutzF+vOryb
6kcM0m/hsvCDK2HdKBkF9M0c+khSKFZqHLAuDnTYB4A/bGOMYFgfE5M6IwtAWIEDwfv1SNgGDFHF
gMigqq/9dtNqtKSv0VJr32Bo+Rua6GYl0ahAaa2jGDHaDhgtzk9zuNirqsuTU9fy5DaioLXy/x49
/QVOCbTu3MV/hvcZ6ft4Xp6qtby8jheWl/fo6T+q8X+NW/C//wZqZLPzs43Vv2BmNkgfhkE9Ctsf
wvYN2L4H249hu4jfewIuMNDC6XJ15p6HbQG2G+kFdZM3Xqqm5cTF3D0P2wJsN2LG/gn6MjW8TA0v
U8PL1PAyNbxMDS9T02ex+V13vmWMtJYJ+OjpR6lsr6Pji/8Gj3l0LcpQvUDKAMp89PSV3IZitCis
iIepFZHCTCxRLxStiPQvzYqoj2xM1rJ94i1YFb9IGwIHY6DlelqxIDSFFiyFd2FI/YYGwc/va8BN
L+ZkZUULm/PY5OelwE2qupepYSnxkmMJc+YTfIBiL8P3WokfpfKqBeS9gQewb4i/s0zavWKLXJot
8vKWSi8fem+Jtlsh7O9jOksrVI36C630CVYH5mg8xOrYGlatY4ttJQ084tTD9yQsUrQW5TWF79U6
IGKChdxygoUHbmK9flav0onCWn5Tc5HOT6F0tq5RopP1jqp9fUD6Qqtf763u+WtwcP/i4eCCm9x8
BGLPz/fWhA0351YBzzu4/FsTQmVh3b1QGvklwmYdOKwKhGeQV9aDAO1YD98/J/9QKpAMq1Hs5rHe
MOhlFtKN+1iHVuH7bctMBXfzipI+vh9YZqUecD9U7SnWVOiWNxlbJ9Sw1uMOgy9JtZcC6wHaRuW6
epmF7W6m3yDaRV4elarwAUvUs8NKmGUFUrKAlCwgJQtIyQJSsgIpWUBKlhbXtRRKoWgZ/hpTeCkr
1gw5ZCuoHfAXtu6oVmX5s2+fl+XzT6vs0f6wOxF0dR4O3LBv+NhkTH1wHyH7DmoyM4dz+24MHbNP
FIPFiIPEclZrNjU/Gja6I/b07K7s/lums1ZrbtetO6Pzu5PZodDwLtoFAv76JO0PF5Q+i1GlLKta
XS1LE+L94dSX2B/OQ6NY14yCqG8d0E67GAvi6eT1cJixhAGw7Tykuo2mCdMZl8Um0GBOPiVgeEIp
RJNi5E8WT73nxOLWrZ89+d6r+8+G5m7dO/nIIwemrplLkBvn3npqsPLEycr/GTr19rnCqd2575x8
Nj13Svr/AIbjNd8AeNpll9tz28iVh2ESdzQaQKNxBwiAIHiBSIoXS6IkWxpFGnnsiR07cTLZVDa1
s7X7sJWXvOS/34f9NSTbdPaU2tUE0N3nO9e2JEmZJEn/a5iKpLwYDFVFUwfDoawMhoOhIiu9qMoA
P4ayLt4qMr6QVVnXdEVXFFlVdVVVh/0aWZYVeYC/gTzQxQ/xGN/KsthtgN8qTsD+g4EiNh9oeD4c
qubzQc+iGrKim7I2GMqaWINNVdnQh4YsD/oTNUXTNbk/rZfBYPBC/iKKrOu6omn6V1F0/QXU1HUs
BYzSqweB3oqkSSYBOwgFyfCZHQeqQhRVxdc4RtdUDfC6NpRVxdB0fKvAGoYGdqHVoNd8KDYHlpgD
WvnGrmDDobCtLNjFtposDlOtf2GHLXSi6FjTWxenqbJpDPF4IE6EEpqhHS0Q7N9Wg91QdP179t4W
soqVwlHyUDwXG4HdslVJEAqSXh3xjya+hWjia1gfkDCWAg/ImmLqhqCGJUxsgt0UtQdShGfBbvRq
4LEitJSxwUDRZG2oaQPhqN6kQx3PZVkjinosmgXX2z27gT00bIrzTNmCYbFOE1Y39e/ZB9/YFcMw
oajZi4GhmibYMVO0r+z4xhD4ki4RKtjBpIFsCA4BA1V7TwOtZwekAd8Ldl3FrpqJjQzdwhYiLNVB
r/lQbK4ODTEHuyp817MPRawOdcGOD1SxraH07Pb37PC5alLVENmAPRDAWGmZMgG7JoLXAIjx7XuR
WoOjnwLXMMyvIth7WyAANL2nGfZ2MQxNMiTb0SSRX8KLUEfpHanLT5GBIIchFNXCmXA1ok/R8cPS
rN4SBAYU7Nrw/7GLiFVEXoEdrxF9Im9FHThiVzSK+ZHoNlzvqKbIBlDr8JWuEku2sTNcIVQ2rCN2
7Tt2TbUsC7jWV9Es64VhiKfCak/s4jk20sHueLrUx5hhmaI86ahtqoGfeK0bwgPQwDZ1C76HFoqp
2Zat2wgDy6CwoAhNfdhrLovNtaEl5oqojCI6UNnwGlmiCMvBOAJRH5rqUJQ2VztOT910gO9pFuxF
UFERwFhJqeJoIpc1YOmWbR4ZS7Af/bRtW/vCbWPoYDdNu7cIkkVUYdm2+1eGZEmu/8RuGkQUXbV3
JCJHxIVuGsIaqkYtg1iGblt4pVNiGzAGrOFYiCa4F3AIKREsw6E+JE+VVNQDYYSeHdGH2O3ZwWAY
MlHFYab3L+ywhe3rBGFoYw8TmWZqjqO4MCxcYVnEILS3rf5UzsE+/LZco5TqhNi9UAzdtl/ACrCI
iWjFsYAT78BuSkTyuCEZiDFhHqijocvIQtU+K1BmZNVQdWqZBAFuE8Si7hBqUtQLYrnEspASuiHO
N3TUQrQEWbAbPTsyQ7AbMgh6dlEHBCIyWBOtxGS6cSyWpxuU6zbsRbGHhTy0NNdVYCIZrujZHXJk
LNFIvmN3DEKcXiiG4ThgxwzR8IUd31BCiGD3Q1MS+UUsSgS7idqmEZE5cCqCHIbQdNe2qG0Zjq1o
xHCpC2rToMSzCUFaGqbca66IzQ2ZirnW1wMRAKJxoUIQRVgOvVkgIoMFu2Zy3TwW4sP1oeHAXg4q
KtERbzrzVB/tyjINONOirn1kLBHE337pruualLpfxXTdF7aNiU76SBetRzxHfBCJSkFsSSK/bOLa
4rpiiduLrRFgEQvqyqjmBqMwJjFdB9XJZA4jzEbE2z6lNlLStOQvVVVRTMUVc030A6ElKjxeI/pU
aqMyKKIWEyK7OqqDTkLDOhYaGBaLTVdkA3KbIg9tgzON4wZGLGA5xGH0SwdD+otG8s10BmPMcpwn
boZhue6AUswMwMLbgp0xlyEkbMmR4pxIcLjuUAYyzSBo7oajwzJIGIfCrLZhcddmcLLvoTqRwOM2
dwjxnNBDNMG9RLEQ/SJYFMVSPAtWAzTp64EuGpdFsSUsh6uHIhCp7BniIkITfHskTmwRnlsM4eUj
yRzTJo4ZhnqEagVnAMj2uCesJM4jAkaRv25hmZxz4nl+LxyD+P7AdTEzHdd2bVv0As597nmeI3lS
VlKJIqk9h3uoWhZFVzZFsDiuQz0HfqImiZjDfccOfM307IhHTuRS2/cS3/NQPm2qIEyorSEKVFv1
RaEBtG15BAmqGVQlrunpzEV2qCjbiCGFm+Ii4hSEHouXEhqVdqDqdog9PMuxPZLERkqI5lCbMe7w
yBec9lNJE63N/iKURFFIOQ96iTBoEAwYw8zyEK1wFGpkFAURzOJKXCrGjuSg1DEv8HF5sBzcqCxm
wjKe6zAPfnIsO+ZuwF0acc3yaRLEbswcGrCM+wwlhDoqqqpDETtAU0NAOCJikRloCZqB1x625Ew1
LcGOBFQCC8FveaXtHIuf2048piGqa0QdyycuZXaWGjkqNVwBLDeIg+cqLo4R7F8t59hxHDlBEH8V
J44HnGNCfO5y1xXs4jnMwqRAqlpXcpGTnMUBLg+2iwZHfMv3mc88qKsSj9AsZFHInCTUrcDJowzU
nhPxIgy4idB0VQQJksqFYR0tEgkHhzs2h0KmaFyOT7gZ+qpF8IHjMKZGIkMIq48KEyQoqZu1TqwZ
bup4JECqcjrKzZI6CBs3DCMWpeGzocQCcTF/ym/xgGZZ5kbRE3eG4YI9DDGjQchCxkQzyLI4i6LI
lyKpnnqSJ9j9pGf3wG5zS6QL2P2e3clDFkfMTSOdBG4R5yznnhsFowjstul62jM7dHG1SKiCJuLS
wKEU9wu8RoUwQ96zQ03fVyNbsPtjxzuWoHK8fOomYM/cL+zlyKoEuwf2mEHx79m1b6ajeZ57cZz2
kmN4aQp2zI7Y8zzNwc6lWGpPfAnBbkdBHqMLOj7qOo3sMAxCzqNA16lP3TIJspSzIjVozKqsDMrI
Z2k0TuLIohbzNY95jJlic0/PUW0Z7g/MFVZAR/Z1L6QRSSLNprrOkF2BnlHcO2g4c/1jiSeuX56w
XDfZiPl27AYscpuaTFzPCHyWJBnPykxYieGPPcGwr+KW5cjPsqKXEsMvimGSYObGCU84R3s1yrIo
YZYI/4XvtoEEh9M0LjNUbC/AjcpNaZwgd8I01nU3dP0mj8si4nVhORmfjJq4SUM+SmdFltou4YHu
Bz4KSoDNuVGKYoOWyFnmwwimHRh+4qZ2nurUNYwg8ONYH7loJW688oNjyRZ+0Gx5ZZBgzEMnQx6m
bN7aC+abqFh5XkajZvRcxcUC0dWfahtKfMCapgnLsuqlwQiqapjnmLEsj+Bt0SGapmpGo1EqjaT1
eSRFmunm6XiEywOLcKNiuYPMyZIY6upe7PFZmY6rJJxUxB2F83qWzvI4rIuuGuUoRmFkoKpGEYlC
0wzNOkRIuZ4d+gUUciwnMgNkCS1zw/XwQRikqV4zZIgXb3l0LKMVj2bnYWPaURvG3oinUc5PFs6K
B1YaRWU5Tupp9WwosUB09bBfGkL4bNZGdd30MsOImmZYlpjxUZmUSYI+SGazZlbXdS7V0u4qkRLk
ZFlMK1weeIIblT9ixago8rQsDMNP/bAb5y18P2tsv4pPJl3elWk8KdfjqnR8xJMZJVGS2ElsWbHV
xkmSMObEQYXEcYmbWNHIL53xyPQYPoijPDcmPloJy87C5FiqbZh0V/HUosk8TlkV5EkZni7dbRiR
PEnG4zafdJNnQ4kFwpFxvxSVLQm7bp5OJrNeOox0NpPHY8yCapyP81z0h66bdZPJZCRNpPPbTEKw
s7qcN7gTBRmae1D7ZYXcKerSNHnO43U7mk1HaTelvElPZ6vRqs7T6XjXNrUbeGlmJVmCgpKiDydk
lmZZip6CehBHkWd7GUmqoPba2mKckDRNytKcBRa6dXUZZ8fSnMXZ6jZdECdbpjlvolFWR7uNdxbH
9ijL2nY2mq2mAjXFX5pmotWn/VJR3uL1epmDupc1Rt51ctuuui5q2lE7Gom7/GrVrabTaS3NpKuH
QioMwif1SWt5XlQQRsKGj5saTp3UhASjIN3Oqm5e5auFE7T5rttW22aULyZn83aC8pkXVlZkee7k
0CUjyxwhEwReHrfQ0Kd+QbImnLBZY/EAH2RZXZMutJCg49dpcSztZTraPuRL4han+Shok6qYJOd7
dkhSWhUFsKpuu3g2FIp6IW45eb8Uv/Jku92Mum7VyxZjtFrJsxlmSTurZlXlOJ6z3a62i8WikTrp
/sNYGps0Wky3J9T307HN7XQRzebTWdsspradNMnocjXdnrbV2akXn1RX28P0sGiqTXezPlnwlFdj
u6zLumZ1RWlJTyukUxz7Vd6N8gK3kTEt5+kiWC3sKKG0qsrp1N6kNqJ29mY0PpaT34zGhw/Vnvr1
edXEJ/m0XhS318FdMXLbcQ2gdnvYlBCEJU6pxZVGHFfXorwVl5cX481m18slxni3U1arw26Xn6za
VduK/nA47A6bzWYhbaWff5lKU8tN1yeHDe5ExRQ3qmKdLFcny8V8fUJpPsvr23138XIxuT7zs83k
7vy2u13PJmenP77crKMimkydpm3alreN6zbu+aRt2yxDZTyFRujIU7dZFetov3bS3HUnk6br6Hnh
oAUvf1dPj2Xztp7e/jK5dIP29WSWbaquXVeP9/Hbesy6abvfXyzOb8+eahkObFvR1cVxbYsUbuvb
25vpxcVlL7cY08tLdb/HrNrsF/vFAs3Bv729vD07O1tL59Iffu2kjrB8f/r6DNeguvMSr9oVm91m
s17uN55XnpTt42H9+mo9v7sKRufzn149rh/3J/Prl7+9PN8nVTLv3OliuliEixljM/Z6jpAqRvG8
OWubCTpyx6a7ah8fdm5eMjafT09PvVeVi461/XPbHcv5p7Z7/HV+y6LF/fxkdN6sF/vJh3fpp0nL
193icHi9fvV4/WwonLIQXV0ct1jMIZPHx4eTV69ue3nE6G5v1cMBs+b8sD6s17jvBo+Pt4/X19c7
6ZX017+vpTXl5eXLH6/9NJ2sWc4mh/L84ux8v708Y2y8GS8+3Ly8/2G/+umHqL5efrx///L9YbO8
u/rj7fVlPsmXa9atuvUqXi85P+H3y/VqXdfZcna1mM2LsFjz7qK5LG4OrBxzjlrz8iW7bxg61vmv
i/WxXP9lcfr+78tHnq7fLTf19ezl6nL+p98Xf5kvwv16fXNzv79/f/dsKJHUaKJ82S9dLper+YcP
P5/e3z/08gHj9OFBu7l5//Awu77Z3+z3UZRF798/vL+7uztI99J//GMjbSivry9+usGdaLphBWuv
6sPlxeFsf33B2GQ36T7dnT/en61/vo+bm/UfHj+ef7zerR9e/fk3N9dFW6w3/vJ0eXqanq6CYBU8
rjenp+MmX89fnywWZVRu+PKqvS7urvy6CQKoeX7Ofmx9NOLz/+42x3Lzt2778R/rt0G2+bDeNTeL
89PrxV/+WP6tW0Znm83d3ePZ48eHpeBc4sDTjbjUrPulgr/79Ol328fHN718wti+eaPd3X1882Zx
c3d2d4Z2kcQfP775CLNcSY/Sf/1zJ+2cYHxz+e4HjlK64yM+ez2+enV5dXF2c8l5+7Jdfn44vH28
2Hx4TNq7zS8/fT58fv1y8+b2rz/e3ZSzcrPj6+16u822p2F4Gv682W23zaTYdLfL7qSKq12wfjW9
KR9e83EbBFDz8pK/nfro1lf/s9wdy91/Lvef/7n5bZjvPm1eTu66w/bm5N//rfp1uULK7B4e3l78
9PnNc5BsIeJG81TbBP/y8+ff79++fdfLZ4z9u3f6wwNm3d3DxcPFBS7FyefP7z7DLK+lt9L/Ab+V
M2sAAHjaY2BkYGAAYmauSQvi+W2+MkgyvwCKMOzq5BWE0f/3/HdmiWJezgAHAB/KCqwAAHjaY2Bk
YGBe/t+ZgYGl9/+e/3tYohiAIijgJwCesAdNeNptkj9oU1EUxr9zXgUJWqJRY1obpU9j0hqJDWKp
qUaEOsTBpeooRa2IDhUXBzsEFDu46u4/HDsIGsggSHGJImgjLUWtdioiEUuHosbv3LyUIH3w47v3
vXPuu+c7R5bgHjG9R6aRlWH06SWkdQBbdYHrInZgCh0SRxfZKBNIyjJ8vMJm2Y80NS1FtOs5vj+D
mJ7APh1GVAex3a0TPGsTDvPMLN8lLN7lXkNCQzhGHZQSwt5Jxj1ifgYFneX6BTWFgiyg4IW5L6OA
Fe6vIq63qZ/5foQxH6hD/J4J1N6t552+8PzXGNIxxLz72K2T2KW3sEUvo10OML/oNC7fiNU/hb3y
huvvyEkFPtWXRRJCxK1nkMNHo/5Tqo21TjN2jtRcfM7FjVCvoFu6EZV5HJLHCOkNhKRMnmKDTCIs
eSTxi3fII8V/J53v/KeeRUzG62UdxTrJ1Gv0w6evEfrVx77skTHEUcVO0iOfeC+jwpoP0jdi3uo7
dMo4TrGeKHOMTub1aB7ptg6eU+J+CQ/IQzJKzgdcJBVyk0yQO+R0sL9A79Lee85KCUflDyL0urft
Ln2ew3H9zXvRD4ny3jV0eSn68JX+WB/ohflutVuPzCfXA/rgPUG/dx39coT6lvnPyUt6S2+0l/Uu
s0566+bCsLlIrfZ8m/XX9WwtKkH/WuAdB9i/eTJDfqz27n+sb608Q9zm05HlHAER3qHBLLAWbp5b
9vKXsxesOclo1uRmthljHtmM2jers6mpxuxjpb5IBbVmec1cpzbrTWxm+GgV/j9aH9VNAAB42i2a
TUxbWZbHX/dMfYTuFDxXSMAhVBdySLAESGAw/mqXxJdNEgpsY+JnezRSK5m0+UhsEF9qspkZqUam
JcYlOZtsapNNbbKpTTa9ySYNYRO1YDG1YZNNpFFGIzTSSO35n1+PLP10dN+55557zr333XufHcf5
hePcmnJ+8em/dTlOW/u484kTaH0n9rc+iEE42HohjiCHYKx1LiZa78Vpp02coWQWpuAczMAczLc+
isvS/9S5KjufOl2tC9Gvp585V1TymdMJrfwzlZvc0/rZuSR/zsQgHJSFS/LH5BAcl+VLTrj1gzgh
a5eciHpxyYnCeOuxOCObl+ShMQXTcA5mYA4uq91LTqH1WvRab8SSbLYpMptiv3rdJk+Mg61X4ghy
CFoE25ywc0WMwCiMyXKbE0dOyH6b8y1yXpZ/JZsX4j3V+5VTUvllsnBZ5R/FILQsXFZbJodgrHUi
xpHN5mVZaBOXZeELxfNc7FR8vlC034h+9ajd+aT1UmyDX+ppuzRfideQu2Wnnci3K/IvxP7Wn8Qg
HIEhGG41xAlqRVrPxGjrRzFO+QwWLNrtirbJaThHyT152K6YW0mOkmV5266YmyceLFFSwc9d2JR+
B9520K8O+Xki9sBB6XdoJJhOWJ53yCtjVHU7FCvTj7eeigl0CtCDReqW5EmHU5bsEiWXKLlEyaVd
lyi5RMklSi5Rcp2A8/eixcolVi6xcomVq1HxS9Ei5hIxl4i5RMyVV9+JM1iziLlEzCViLhFziZVL
rFzGp0usXGLlyvMTsYK3u9Bi5ZPn52KnavmYcT75/0zsorxbmj7HrzHjc67Lgk99MR0b5z715Z0Y
hINojiCHYJxaU/LcJ8+firOtfxZTyGn10SfPTb6LfA8utJ6LizDD0yxyDnkJOY/NZY1Vn3NfsfXR
Ux899SlTP4gl5DL6DfSbWHimVr502qELferpl+r7e9HWmSvOA2fG6ZRum2jZ7CSbnTztVAQ+il8h
m+ZVWfgoXoVd0rxK3q/q6W3nmvO5NK9pbFyItnZdI7bXsHZN1t6LD5wR8Q+U/FnsUq0PYjt0oQ9e
UStdsmO8KptdtNiFtS6y0yVrveIfkP8sduNDt+q+Ezu1WnazfnarlpX0UPJAq2Y3PnSr1htl/deK
hd/5QnH2y5PnYgd0oU9jwM/48eOPn/HjZ/z46aNfcftJvC77fnzzOzew1gu/Uo78zm80rvzO14qz
3/mdMuV3Hmg19jt/VGT8zr+L14nwdfp4XXYuRIttj7x6LbrQp7Z68KFHPpyLXcjdqtujumfi72St
R/ZPnBuKxpnoh/ZeuKEZ90qMytoNzbgXiqLp9KLTi04vOr3o9KLzFU9/I75yvpb+idgJr8qfrynv
c7YVsT5nR+M/oHXjO7FNUQo4l5FdrQwBxlvA6VPkA7zLArzLArzLArzLArzLAlrBLsSwZlxAa8V7
MaJ1IyCvfhLjrX8RE9RKKkcBzb6P4ixMwTQW5pAzMAdtjQ1oTtlTm1MB5lRAs8m8qtDKqqIacNbg
YzSfwJpiEnA21feAs4W8S38P8bmJ/SPkY/hWMQk4p5JvKibnYpv6clMxMbbL5k1l1tjH04As3FSv
TY5QK4ocQz+ukXxT/bXyKWoVKPdgUd7eVC/MQpmSCnW30dyBu5QfoNlQST8t9isX52IQjsAQjPA0
CmOUxFW3X+8Oq5uEaZiHy7AgD/vllbGIfknt9ssrs/MYnSewhs0N208oqiZbVPsVz3PnliL2Qbys
WrcUq1eiC32Kwy1G0S35fyYOKiO3GDO3FD2TI5RH0YxRK66Rc0ueW3mS8iksF6lVhhVaNH9uKW5W
awcewIb0b7ODus0b6jY7qNu8m26zd7rNu+m2ImCaHizBpsoHnEuwTb8BrTxGW3MGtOZ8EF1kn9oa
0Ez6pRiQzwPsiwaUHaPtfwaUI5NDcBxadgbUO+M3WJ5SHwfk7c/iLEzBObigjAzoHWTMUJJFziEv
IeeR7yNbjwbo0YAiZuUlfC4jryKvwSrcpi87cBd/6pQfaL4MKL/mcwMPm7IQJNdB5fpCbFcvgoqG
0Qf75ENQ0TCdQeRx5DCy5TrITAmyGwwyU4LscILMlyDjMEiWg2Q5KA9NfwceiINq973oQp80B9Wi
yUX1epDRO6haVrIDbR4N4fkQmR3S7Db5slofUk5PxL7Wf4haC0XbFw2xLxpiXzTEvmiIvgypL8Yp
7Ng5YohzxBDniCHOEUOcI4Y4Rwxprp2Jlp0hZee56Gn1HlJezGYFa6torsEq/tQ0a4Y0116KW9Ta
RbPO00PqNvChSa0jzcchrWbGU3FY/X0utmkcDqunJnfIk2H19KVoPR1WT0/EIBykZAQ5BMPUshPK
MCeUYeXOSuJayYdZ1YdZ1YdZW4bZ6Q2zVg+zVg+z0xtWH61WldZrivmw+mVPt/BtF9Z5eoj+ES0e
w7c8PZU8QgZHWGdGNAb+JLrQ1pkR9etEtHVmRGPPSmzGjbDOjDD2RuT/X0RbZ0bUizdiAstJ9Kda
/ykWqVWmlQot1rT3GNFqY9ymxR14ABvSGVUsrojteiuNKs6vRBfZp2iPaqdxIfbCgHbRo1o728RB
5BHkcRhGx9bzUebIqLx6Lc6orVGNNGMKzkFbH0ZZH0Y16qwki5xDXkLOq3ejGoHmZ5mSVfV9VOPN
uK4IjCo75vMGPmzCbfzfgbv0bg/NOpoH2heNOodoNvCwqRZD5ChEjkLsGEPsGENkJ0R2QuQlRF5C
5CXEmhDi1BMiLyEyElLfre6y83dikVplLFcot7yEyEtI3lrJDrSMjPEeH8OTMdbtMVanMUb+GDcG
Y9wYjDHyx7gxGOPGYIz1akwj32TzcAwPx+TbiZhAP0m5rQNjyo7pz8IUnIMZmIPL8D7+FLSWjmmO
GEuUV7C/ytM1WKX1Texv8bROySFsUN6k7ltRJ3nVGld/P4h9ejquaP+32I8chCMwBMfRD8OI7I/T
x3HeUOPsH8bZP4yrpyYXoAeL1CrxtIxcgfa+CGuNfS/aXAgr8i9EF9mn0R7WXPhB7IUBzY4wq1CY
VSjM2S3MKhRmFQrjZ1hefRAT8BtlPMxpLqzIG2dhCqYV1bDib7Kd5sKc5sKaKVayCDMwC3NwCeZb
fxSXNcLDypSVFPQeDKvXxiIlJVimR6ta2cLKl3EdPqb1J7BK32u0vgE3NVPCyqb1cRsLO3CPunX0
D5AP6XuDtr6HTXiEnWNo+9UJzo8TnB8nFOGfRXsbTiiSJlvEJphHE7xbJ+S5cRv9HXgAbdZElLtz
sV0nggi5i8iyyT6dWCPK3SuxFwbkeYTTQYTTQYQ9T4TTQYTTQYSZHiF3EVbaiDwxazNwFqZgGv05
5LvI9+ACNhdhhqdZ5BzyEnJeEYsoa2/E+4pthHdQhHdQRL02nRJyWaMuoqyZ52twnaePaesJrFJS
w+cNuEm57Xgjipu1u6PVL6KsmWYdHlByiGYDne8pbyIfKRcRZc14KkaJc1Rx/lHskM9Rxdlkn7yK
cjKNcjKNsreMcr8R5X4jyj1elPuNKPcbUXYmUcX2B3EGzsIUtNhGFVuT76J/Dy7Q7iLM8DSLnENe
Qs7j1bJGY1SxtXYLeOXBIjol5DLyqnodVWyN6+g/pvUnsIpOTTM6qtgaN4nDFk+3actOplHF1urW
0T8gJof43MC37ylvIh9h4RjaPiHGOyjGHi+m9fBM7IC2/sfY3cXY3cXY3cXY3cWIYYzdXUzroXEK
zmBzFqZgmvI55AzMQTtbxdjvxdjvxdjvxRQro43AGG+umKJ0Iq7Bx5Q8gVXq1ii3vV+MvV+MvV+M
PVJMcTA7DUqatGt7vxh7vxh7v7hG1zvR3n1x1uG4IvBUdLWGxDXGdsUbylFcY8wYaP2r2E/dIByk
fAQ5BC0+ccUkL8607oqzyCnktHyOKyYm39WIjWuMGRdaRXERZniaRc4hLyHnW4visrIZV9z+USy0
HogeLFJSalXEMvqryGtwXfvPuGJorT+BVXpaQ96AttuME8k4q25cY8xs7lG3jv4Blg/paYN+fU9J
Ez+PKD+GFuEEJ6CEonouBpBthiaYoQnmZoK5meCmNKFYGVMwrbwkFCuTMzAHl7UyJNT3l6Kn6CXU
a7Owiv01+Ji6T2CV1mvQ1qgEb5aEemQlh9RtYvmIkmNoc+S33Pn/1rmnE28Sz5N4nsTzJJ4nNRd+
FCfkVVIz4qkYVfSS2hvsinaTk+QmJ8lNTpJ5keQmJ8lNTpKbnCQ7nyQ3OUlWjyTfKZLq3ZlotzGT
iuFT0b5WTPK1YpJVbpKvFZN8rZjkPTLJG22SuTnJ3Jxkbk4yNyeZlZPMyklm5STfcSaZL5PMlymt
A6/EpN71U/Lnf0UP2u53WqvHmX0lkv40Nz/T3PxMc+83Td1p1f1OLFDuwSJPS8hlWFFPp7nVmeZW
Z5pZPCP7F2Kfns7ITkNM2xcI6V84s5zBU+ik8CGFZkqaT0U73ac43afYD6eolXY+cXrFS6qb5iSS
dn5NyWX90uwQ0uyB0+wT0tzfpp0+p1v8Bv1JONv6H7Fg3z8cD5ZgxekRV9CpUreG/Q2NnzR7iTR7
ibT894t1dI7w5xi+Vd05ojdHr+f4+nOHXfodenqHp3eI7R0nrz3/HbJzh+zcYYd8hxjeZe99T31r
E/8mm7V5rXsfRVvt54nbvJ6+FKdkYZ6ZOM9MnGcmzjMH55mD88zBeY3Sv4p2Hp/nPD7PmjzP2juv
UWR2bE59q5h87izg/wL+L+D/Av4v4PkCni/g+QKeL6K/iP4i+ovoL6K/iP4i+ovoZ9DPoJ/hPJXh
PJVhNGawkGFsZBgbGcZGhtGYYTRmGI0ZbGY4JWU4JWWwn8V+FvtZRnuW0Z7Ffhb7WexnsZ/Ffhb7
WexnsZ/FfpbRnmW0Z7Gfw0KOjOeUo3ZnSTn6ILZp/CypxZdih1aYJbVrsk9ZW3JuoNkL+yhJ6h29
xGlriZVniZVniZVnSePrijiHnIE5mFc8l3R+NDsFdDxYgqt4sgar+FDTeF5iVC+pL+bPDtzF2zo6
DXywVSvPmStPH/P0Mc8eIE8282QzzzzNK1Z/FcvIdlZaZpeyzKxcdlyNpWXZOROTsrbMLFtmHt3H
/n3sFxjhBW5ZC9QtcNdaIG4F7nYKWCgQqwKxKhCrArEqsNoUiFWBWBWIVQHPC8SqwApQYAUoKFZt
Ypmnq1qHC4qYsUrr27S1A+uUNNC0+Hh46+Gth7ce3nry9o1o3np46+Gth7ce3np46+Gth7ce3np4
6+Gth7ce3np46+GnR2Y9Muvhp4efHn56+Onhp4efRfws8jYvEu2ivHou2rpRxKsiXhXxqog/Rfwp
4k+RkVbkXr2o1s/ENVjFZh020LEWS7RY4ptRSe1eiC6yRaZEZEpEpkRkStxml7jNLnGbXSIyJe60
S9xpl7jTLsmT/xKXeVpQ7krqpbFESRkdi0+J+JTkoZVs0/oOrFPSgHYfXubWtEx8ynwbKhOlsjz8
SZzh6SxMwTQ6c8gZmIOrWFiDVViH1so/aH3odR5wy/bA6US+Cq9pZ/jAvjeK3YrPA71jTKdH76+H
fPV7yNfMh3xxe8gXt4d89Xso/XfideXiodOjkn9S+UexWy0+4gvmI+o+4pvpI54+4pvpI74S/l72
L8Qu2A39yuPv+fZX4RRc4Tapwm1ShZ1zhdukCrdJFW5UKvz/pKJdwOfiDCWzMAXn4Lc8zSDnoO1e
VtRKRbTd0Qq7oxV2RyvsjlbYHa2wO1rhlL3C7miFVlbUypmYQp6DGZiDf7PfQN92R6vc+q7yb4RV
7fdeiXbfu0b5GuVrlK9Rvs5t/7pOB+ei6azzBXBdOi9Eu8Ncl2ZFTKBp38LWuUda19p4JpaQ7Z8M
Vf4XUeWsUeV/EVVarPK/iCo3hFX+F1HFWpVbqSrWqvwvospbqYq1mnx7LfZr5NScILRbkZpGj8kh
GJbNGie+Gl/Qavhc466vplbeiWmNw5rmVK/eDWZtAwsbWNjAwgYWNrCwQd0N7SjtaZq7Y6u7KX9O
xEEYlm+b3C5ucvO2qXZfinHFdlPtmo7V2qIXW2R8iy+tW6plJVHV3VKt52IcJnhq/1naIy975GWP
vOyRlz3yskcf98jLHpHc+/9alp094rlHdvbIzh7x3Oembp+bun1uTfe5qdvnpm6f2559PNznq8G+
WvxJjFIS42lcZ4p9vu3uqy2r5UH7/0yd7NfJfp3s18l+HQt1sl8n+3V8rpP9Ot7WyX6d7NfxtsHO
ocHupcHupcHupcEbucHOuYlOE50mOk10mug00XmmVfqj6EIfJUlF6Rm7oGesqEfcbB/x3eGI8XAk
z38WLbNH8vy1GIcJSmyFPOZfBMfUPabuMXWPqXtM3WPqHlP3mLrH1H0LT6l7St1T6p5S95S6p9Q9
pe4pdU+t1v8BauVErQAAAAAAAAAAAAAAAAAAOAB0APMBuAMDA/UEIARhBJ8EywUBBSgFPQVeBX8G
NgZxBv0H1AgvCL0JhAmtCuULnQvdDBwMOAxbDHcNFQ5aDpwPSA/VEDwQfxC7EVgRsBHWEiYScxKf
Ew8TcBQnFJUVjBYYFuQXGReBF7YYFBhjGKIY4BkVGTYZbxmWGasZ1BqbG2Eb8xy4HT4dth6QHwUf
Px+MH9Uf+yDgIVQiBSLEI4Uj4yRPJLslLSVgJb0mBiZOJoom2Cb4J0YnhifCKD4pfSmeKh0qnyuN
LGwsjizdLQEtFy0tLd0ueC6NLswvJy9JL8gv7jASMFQwpDDIMUIzCTOmM7wz0jPwNC80RTR1NI80
vTU5NW81kTXVNfM2CDZqNx03ZDhEOTI53TrsOxI7VzxFPUQ+MD8fP58/8EBFQLpBekHLQhtC3UOL
Q8JE2UV1Re1GGUYvRlJHMUeySHRJL0mAShpK70uQTG5NTU4/TzNQPFFhUf9SklMqU9BUiVS8VPBV
N1WMVjlXBVfOWKpZb1pbWudbdFwRXLddVl5zX3hf8GDaYfhjAmOdZDhk02VuZglmpGemaEFo3Gl3
aaZqQWrcatxrLGunbJltNG3Pbj9uqW8Hb2xvvHAtcIRwvHEDcZFxynKYc3p0FXTkdWN19nZ2d1V3
VXffeNpjYGRgYPjJUMPAzgACTGCSC8RgsgAxASkDAcYAAAB42o1SwW7TQBB9TtJGUdoeOHCohDQC
xCl10hapIgGJpqhqJKhQWvVux5vEquMNtpOQI+IzOHPoCYm/4Av4CH6C5/UiJUCkZrXZNzNv5s3u
GMBDZw8Oit9L7gI72KVV4BKq6FlcxjO8t7hCztziLTzGZ4u36f9qcRUv8N3iGgS/LK7jgVO3eAf7
ziNWdio1Wh+dE4sd+r9ZXMKe88PiMt46Py2uYL/0xOItvCm9snib/k8WV5GUvlhcw+vyrsV1PC2/
s3gHz8sfzvR0mYSjcSZ3ctRqHTfkeqzkXMeZdGeJ8mYN6cUDV06jSAwvlUSlKpmrwL3UvooO+mo0
i7zEHszOk20uU9uyRmsblTXXjUrSUMdy6LY6JtqRMA6z0KOiipSXqjX6miFhKp5kiReoiZfcih5K
xv7/e4cuKwVCIU8ClYajWPylXLkXLs2+1ulisXCHTPJNjjvQk389zanS00g1cQaNKZZIEGKEMTIO
+o77CC2uYzSIr+lXPM/JjQ2jixkzFDyeOaNH/wAu0SkiLlmplxpL8VQ85/wPyLxkLZ84wgH6PEes
FLFe8pdVaP9RXtctVNusv7lae+Uum1k3preUPec6gkN22EJnJTfHIWMhuwiZE9lbRaab/G6bq2+O
5DXz9/G4M9oe30ZhYmK39GkMTaR4//vPoWt7CkyN2CoEZgr5XHKPz6kLrsi+MJPLo32yNTkLs1yq
F0r+io5LBc0e78Np8ttS5gvL36n5Gwlc6JkAAAB42m3LVXQVBAAA0Pu2vY1WQhqREARklCAptREy
pihDURDH9pDp2958bNTobkkVSaWOYAsGpXJESQWVOpIKBt3n8AUcvrn/V4x7bhco435uEYgRI1ac
oHgJCinsa0UVU1wJD3hQSaWUvvsfUlY55VVQUSWVVfGwqh5RTXU11PSoWmp7TB111fO4+hI10FAj
jTXxhKaaeVJzLbTUSmttPKWtdtrr4CtJknXSWRddPa2bFN2lesazenjO83pK08sLXtTbS17WR1+v
6OdV6VaYYKLN3rbaJFsUsd6HtvrO937whXG2BWJNMdmPtttgrXV+8oGOZjrsSCDOn46a5ZjjTjjp
lC/NtsRf5vjMUssd8rf3fW6q084457wLLvrHv6674YqbrrnqP5dcdlZ/GTKFDPCagbK87g1h2XJE
5HpT1CB58g02xFDDDFdghJFGGW2MscabZroZ3jLXPPMt8I53LfSeRRZbZqVV1gSCPvKxT3zqG9/a
aJOf7bDTLrvtsdcvfrXPfr/53R8OOBiIDyT4P5iYkx8Ol8gNRbMimRmhnLxQNJQZn52eEY3kBJNC
4bz0uOT8aCQ2NS3lDo/HheF42tvNwMjAwsDEwKCtvZeBmcGAQZVBmkGAgQPIY0HhMaLwmJB4uxhY
gWrZtXcwMCi41mZKuAAAioYKNwA=) format('woff'), url('/font/Nobel-Regular.ttf')  format('truetype'), url('/font/Nobel-Regular.svg#Nobel-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*NAVIGATION*/
.navbar {
    font-family: "nobel",Lato,sans-serif;
}

.navbar-center {
    width: 100%;
    text-align: center;
}
.navbar-center li {
    display: inline-block;
    float: none;
}

.navbar-center.navbar-nav > li {
    
}
/*END NAVIGATION*/
/*START CONTENT*/

h2 {
    color: #5a4f3d;
    font-family: "nobel", Lato,sans-serif;
    font-size: 30px;    
}


.banner-text-center {
    max-width: 40%;
    margin: 0 auto;
}

.banner-text-center h3 {
    text-align: center;
}

.p-content {
    margin-top: 100px;
}

.p-content h3 {
    color: #5a4f3d;
    font-family: "Whitman italic","Times New Roman",serif;
    font-size: 24px;
    font-weight: lighter;
    margin-top: 0;
}

h3.accent {
    color: #e32526;
    text-transform: uppercase;
}


.p-content h2 {
    margin-bottom: 15px;
}
.p-content p {
    color: #444;
    font-family: "nobel",Lato,sans-serif;
    font-size: 17px;    
    font-weight: normal;
    line-height: 32px;
}

.Staff .table {
    margin: 40px 0 0 0;
}


.btn-primary {
    color: #fff !important;
    background-color: #5a4f3d;
    border-color: #5a4f3d;
    border-radius: 20px;
    min-width: 200px;
}

.btn-primary:hover {
    background-color: #87765a;
    border-color: #5a4f3d; 
}

.Dark .btn-primary {
    background-color: #f1af3d;
    border-color: #f1af3d;
    border-radius: 20px;
    color: #5a4f3d;
    min-width: 200px;
}

.Dark .btn-primary .fa {
    /*color: #e32526;*/
}

.Dark .btn-primary:hover {
    background-color: #fac04f;
    border-color: #fdb220; 
}

.jumbotron .message-box {
    background: none;
    width: 50%;
    text-align: center;
    margin: 5% auto 0 !important;
}
.jumbotron .message-box img {
    max-width: 250px;
    margin: 0 auto;    
}
header.jumbotron {
    margin-bottom: 0;
    min-height: 800px;
    padding: 0;
}
.jumbotron .message-box p,
.jumbotron .message-box h1 {
    color: rgba(255, 255, 255, 0.8);
    font-family: "nobel", Lato,sans-serif;
    font-style: italic;    
    font-size: 25px;
    margin-top: 25px;
    text-transform: none; 
}

.jumbotron-link {
    color: rgba(255,255,255,0.85);
    background: rgba(0,0,0,0.55);
    font-size: 38px;
    line-height: 65px;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 40px;
}

.jumbotron-link {
    
}

.home-page #about h3.center {
    color: #fff;
    font-size: 40px;
    font-weight: lighter;
}

.intro-text {
    margin-top: 3%;
}

.search-results-box {
    margin: 0;
    padding: 0;
}

.search-results-box li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.results-title {
    margin-top: 20px;
    margin-bottom: 0;
}


#about {
    position: relative;
}

.page-section {
    background: white;
    position: relative;
}

.page-section .container {
     padding: 25px 0;
}

.aoe-link {
    margin: 15px auto;
}

.centered {
    text-align: center;
}

.btn-give {
    color: #fff !important;
    background: #cc2a52;
    border-color: #cc2a52;
}

.btn-give:hover {
    color: #fff;
    background: #ee4374;
}

.page-1090 #content .row .row {
    margin: 20px 0;
}

.page-1090 .well {
    background: #fff;
}

.page-1090 h1.page-title,
.page-1090 h3,
.page-1090 strong
 {
    color: #ee4374;
}

.page-1090 .btn-give {
    margin: 75px;
}

@media (max-width: 800px) {

html, body {
    overflow-x: hidden;
}
  
#section-1158 {
    max-width: 96%;    
    padding-bottom: 30px;
}

#section-1158 h1.page-title {
    line-height: 20px !important;
}
    
#section-1158 p {
    text-align: center;
}

#contact-form p {
    text-align: center;
}

.jumbotron .message-box {
    width: 100% !important;
    margin: 75px auto !important;    
}

.jumbotron .right-col p{
    font-size:38px;
    line-height:38px;
}

#main-nav .navbar-toggle {
    color: #efae49;
    border-color: #efae49;
}

.sub-logo {
    display: none !important;
}

.col-md-6 {
    margin-top: 30px;
}



#main-nav .navbar-toggle .icon-bar {
    background: #efae49;
}

.icon-logo {
    height: 60px;
    left: 30px;
    opacity: 1;
    position: absolute !important;
    transition: opacity 0.2s ease-out 0s;
}

.umbHomePage .icon-logo {
    display: none;
}

.about-content .col-sm-5 {
    margin-top: 20% !important;
}

#about {
    background-size: cover !important;
    min-height: 500px;
    padding-top: 10px !important;
}

.umbHomePage #about .about-content {
    margin-top: 10px !important;
}

.home-page #about p {
    font-family: "nobel",Lato,sans-serif;
    font-size: 20px;
    font-weight: lighter;
    line-height: 29px !important;
    margin-bottom: 42px;
    text-align: center;
    text-shadow: 0 0 4px #000;
}

.p-content {
    margin-top: 10px !important;
}

#contact .section-title {
    color: #fff;
    margin-bottom: 10px !important;
}

.contact-info p {
    text-align: center !important;
}

address {
    display: none !important;
}

.socials {
    text-align: center;
}

.aoe-title {
    bottom: 10%;
    color: rgba(255, 255, 255, 0.95);
    font-size: 12px;
    font-weight: lighter;
    left: 0;
    line-height: 15px;
    position: absolute;
    text-align: center;
    text-transform: none;
    width: 100%;
}

.page-section .container {
    padding-left: 20px;
    padding-right: 20px;    
}

.logo-top img.img-responsive {
    width: 69% !important;
}
.jumbotron .message-box p {
    font-size: 20px;
}

#main-nav.scrolled, .umbTextPage #main-nav.scrolled, .AOEOverview #main-nav.scrolled, .AoeItem #main-nav.scrolled, .ResourceList #main-nav.scrolled, .umbNewsItem #main-nav.scrolled {
    background: url("/images/bg-noise-dark.png") repeat scroll 0 0 #605544;
    border: none;
    box-shadow: none;
}

h1.section-title{
    font-size:32px;
    line-height:46px;
}


p {
    font-size:16px;
    line-height:21px;
}

.btn-theme{
	padding:15px 40px;
	font-size:18px;
}

#about h1 {
    font-size:28px;
    line-height:36px;
}

#about p {
    font-size:21px;
    line-height:28px;
}


#filter-works ul li a{
    font-size:21px;
    line-height:28px;
}

#contact .contact-info p,
#contact .contact-info address{
    font-size:16px;
    line-height:26px;
}


#contact .form-control {
    height:58px;
    font-size:24px;
    line-height:30px;
}

#contact .form-group [class*="icon-"] {
    font-size:32px;
    line-height:58px;

}

#contact textarea.form-control {
    font-size:24px;
    line-height:32px;
	padding-top:14px;
}

#main-footer h1,
#main-footer ul.footer-nav li,
.footer-social {
    text-align: center;
}

#main-footer .footer-copyright p {
    font-size: 12px;
}

h1.page-title {
    text-align: center !important;
}

.page-section .container .row,
.conatiner-fluid .row {
    margin-left: 10px;
    margin-right: 10px;    
}

.page-section .container .row .row {
    margin-left: 0;
    margin-right: 0;
}

.section-1158 .col-md-8 {
    padding-top: 0 !important;
}

blockquote {
    font-size: 20px !important;
    line-height: 25px !important;
}

#about p {
    line-height: 30px !important;
}

.AOEOverview .main-content {
    padding-top: 65px;
}

h1.page-title {
    color: #efae49;
    font-size: 34px !important;
    font-weight: 300;
    line-height: 49px !important;
}

.fa-file-text-o {
    display: none !important;
}

.home-page #about h3.center {
    color: #fff;
    font-size: 27px;
    font-weight: lighter;
}

#about {
    background-blend-mode: overlay;
}

#main-nav {
    background: #fbbf4c !important;
    border-bottom: medium none !important;
}

#main-nav .navbar-toggle {
    border-color: #5a4f3d !important;
    color: #5a4f3d !important;
}

#main-nav .navbar-toggle .icon-bar {
    background: #5a4f3d !important;
}

}


/*END CONTENT*/
/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
