body { color : #202020 ;
  background-color : #F0F0F0 ;
  font-family : "Segoe UI", verdana, helvetica, arial, sans-serif ;
  }

.center { text-align : center ; }

.footnote { font-style : oblique ; }

a { color : #407040 ;
  text-decoration : none ;
  border-bottom : 1px dotted ;
  }

a.noborder { border : none ; }
a.noborder img { border : none ; }

a:hover { background-color: #FFFFFF ;
  }

.thinboxed { background-color : #F6F6F6 ;
  border-style : solid ;
  border-width : 1px ;
  padding : 10px ;
  margin : 5px ;
  }

*:target { outline : red solid medium ; }

ul [id]:after {
  content: " #" attr(id) " ";
  font-size: 75%;
  text-decoration: none;
  visibility: hidden;
}

ul [id]:hover:after {
  visibility: visible;
  color: #B05050;
} 
